<div entity-list-handler="roles">

  <div ng-include="GLOBAL_CONFIG.app.modules.roles.urls.partials+'roles-actions.html'"></div>
  <div ng-include="GLOBAL_CONFIG.app.modules.roleLabels.urls.partials+'roleLabels-filter.html'"></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Event</th>
    </tr>
    </thead>
    <tbody infinite-scroll='load()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <tr ng-repeat="role in entities  track by $index">
      <td>{{ role.person.label }}</td>
      <td>{{ role.roleLabelVersion.label }}</td>
      <td>{{ role.event.label }}</td>

      <td>
        <a class="btn btn-warning" href="#conference/{{ role.mainEvent.id }}/roles/edit/{{ role.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
        <a class="btn btn-default" href="#conference/{{ role.mainEvent.id }}/roles/show/{{ role.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        <a class="btn btn-primary" href="" data-ng-click="clone(role)" role="button"><i class="fa fa-files-o fa-1x"></i></a>
        <button class="btn btn-danger" data-ng-click="deleteModal($index, role)" role="button">
          <i class="fa fa-trash-o fa-1x"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>