<div get-or-create="person" parent-entity="role" parent-field="person" singlechoice="true" uniq-field="email"></div>
<div get-or-create="event" parent-entity="role" parent-field="event" singlechoice="true" filters='{"mainEventId": {{currentMainEvent.id}}}' main-event-id="{{currentMainEvent.id}}"></div>
<div get-or-create="roleLabel" parent-entity="role" parent-field="roleLabelVersion" singlechoice="true" new-politic="create" filters='{"mainEventId": {{currentMainEvent.id}}}' main-event-id="{{currentMainEvent.id}}"></div>
