<div class="row well visible-on">
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/{{currentMainEvent.id}}/roleLabels/new/" title="Add an roleLabel">
            <i class="fa fa-plus"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline"> New roleLabel</span>
        </a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/{{currentMainEvent.id}}/roleLabels/import/" title="Import roleLabels" disabled="disabled">
            <i class="fa fa-caret-square-o-down"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline"> Import roleLabels</span> </a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/{{currentMainEvent.id}}/roleLabels/export/" title="Export roleLabels" disabled="disabled">
            <i class="fa fa-caret-square-o-up"></i><span class="visible-sm-inline visible-lg-inline  visible-md-inline "> Export roleLabels </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/{{currentMainEvent.id}}/roleLabels/print/" title="Print roleLabels" disabled="disabled">
            <i class="fa fa-print"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline "> Print roleLabels </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info btn-create create" href title="Add an roleLabel" data-ng-click="reload()">
            <i class="fa fa-refresh"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline "> Refresh </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <input type="text" class="form-control" placeholder="Search" ng-change="sendQuery(query)" ng-model="query">
    </div>
    <div class="col-xs-7 col-sm-5 col-md-4 col-lg-2">
        <a class="btn btn-default" href="#conference/{{currentMainEvent.id}}/roleLabels/list/" role="button"><i class="fa fa-list fa-1x"></i></a>
        <a class="btn btn-default" href="#conference/{{currentMainEvent.id}}/roleLabels/thumbnail/" role="button"><i class="fa fa-th fa-1x"></i></a>
    </div>
</div>

