
<div id="page-heading">

    <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>

    <h1>{{'papers.links.papers' | translate }}</h1>

    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <div ng-include="GLOBAL_CONFIG.app.modules.papers.urls.partials+'views/papers-actions.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-gray">
                <div class="panel-body">

                    <div class="well">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <div class="img-container-lg">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h3>{{paper.label || '???'}}</h3> <h5>{{paper.publisher || '???'}} {{paper.publishDate || '???'}}</h5>
                                <p>{{ paper.url }}</p>
                                <pre>{{paper.abstract || 'add an abstract'}}</pre>
                                <a class="btn btn-info" href="#/home/conference/{{paper.mainEvent.id}}/papers/edit/{{paper.id}}" role="button">
                                    <i class="fa fa-edit fa-1x"></i> {{ 'papers.actions.edit' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <h1>{{paper.authors.length}}  {{ 'papers.model.authors' | translate}}</h1>
                            <div ng-repeat="person in paper.authors track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
                                <div class="img-container-lg">
                                    <img class="scale-img " no-image ng-src="{{ person.img}}"  alt="Auhtor image">
                                </div>
                                <h3>{{ person.label }}</h3>

                                <p>{{ person.email }}</p>

                                <p>{{ person.country }}</p>
                                <a class="btn btn-warning" href="#persons/edit/{{ person.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
                                <a class="btn btn-default" href="#persons/show/{{ person.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <h1>{{paper.topics.length}} Topics</h1>
                            <ul class="nav nav-pills">
                                <li class="active" ng-repeat="topic in paper.topics track by $index">
                                    <a href="#topic/show/{{ topic.id }}">
                                        <span class="badge pull-right">{{topic.vEvents.length}}</span>
                                        {{ topic.label }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>