.navbar-inverse {
  background-color: #4697ce;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #3286be;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #3582b5;
}
header .toolbar .dropdown,
header #headerbardropdown,
header #rightmenu-trigger {
  border-left: 1px solid #3582b5;
}
header #leftmenu-trigger {
  border-right: 1px solid #3582b5;
}
@media (max-width: 480px) {
  ul.toolbar {
    background-color: #5aa2d3;
  }
}
