<div class="row well visible-on">
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/{{currentConference.id}}/events/new/" title="Add an event">
            <i class="fa fa-plus"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline"> New event</span>
        </a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">

        <a class="btn btn-info" href="#conference/:confId/events/import/" title="Import events" disabled="disabled">
            <i class="fa fa-caret-square-o-down"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline"> Import events</span> </a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/:confId/events/export/" title="Export events" disabled="disabled">
            <i class="fa fa-caret-square-o-up"></i><span class="visible-sm-inline visible-lg-inline  visible-md-inline "> Export events </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#conference/:confId/events/print/" title="Print events" disabled="disabled">
            <i class="fa fa-print"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline "> Print events </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info btn-create create" href title="Add an event" data-ng-click="reload()">
            <i class="fa fa-refresh"></i>
            <span class="visible-sm-inline visible-lg-inline visible-md-inline "> Refresh </span></a>
    </div>
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <input type="text" class="form-control" placeholder="Search" ng-change="sendQuery(query)" ng-model="query">
    </div>
    <div class="col-xs-7 col-sm-5 col-md-4 col-lg-2">
        <a class="btn btn-default" href="#conference/:confId/events/list/" role="button"><i class="fa fa-list fa-1x"></i></a>
        <a class="btn btn-default" href="#conference/:confId/events/thumbnail/" role="button"><i class="fa fa-th fa-1x"></i></a>
    </div>
</div>

