<!--&lt;!&ndash;<div  ng-repeat="roleLabel in roleLabels track by $index"  class="col-sm-2 col-md-2 col-lg-2 ellipsis">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="checkbox-inline icheck-label">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="btn btn-primary icheckbox_minimal-blue"><input icheck="" ng-click="addFilter(roleLabel.id)" type="checkbox" id="inlinecheckbox1" value="option1" ><ins class="iCheck-helper"></ins></div> {{ roleLabel.label }} <span class="badge pull-right"> {{roleLabels.roles.length}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>-->


<div  class="row">
    <div  ng-repeat="roleLabel in roleLabels track by $index"  class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <label class="btn btn-default ellipsis" ng-click="addRoleLabelsFilter(roleLabel.id)"  ng-init="checkbox.roleLabel.label=true" ng-model="checkbox.roleLabel.label" btn-checkbox><span class="badge badge-indigo">{{ roleLabel.roles.length }} </span> {{ roleLabel.label }} </label>
    </div>
</div>