// The Theme Rightbar
// --------------------------------------------------

#page-rightbar {	
	background: #fafbfc;
	display: none;
	width: 300px; 
	top: 40px;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: @zindex-navbar-fixed - 1;
	overflow: hidden;
	position: fixed;
	border-left: 1px solid @border-darker;
	// padding-bottom: 40px;

	//> div {padding: 0 10px;}

	> div {
		position: static !important;
		overflow-y: hidden;
		.jspContainer, .jspPane {width: 299px !important;}
	}
}

body.show-rightbar {
	#page-rightbar 	{
		display: block;

		.panel-heading {
			padding: 0 10px;
			background-color: #f5f6f7;
			a {
				color: @gray !important;
				font-size:@font-size-mini;
				display: block;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				small {
					color: #AEAFB1;
					font-size: @font-size-base;
				}
				&:after {
					.opacity(0.5);
					content:"\f105";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					float: right;
				}
				&.collapsed:after {
					content:"\f104";.opacity(0.5)
				}
			}
		}
		.open .panel-heading {
			a {
				&:after {
					.opacity(0.5);
					content:"\f107";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					float: right;
				}
			}
		}
		.panel-collapse .panel-body {
			background: #fafbfc;
			margin-top: 0px;
			.clearfix();
			.more {
				padding-top: 0px;
				font-size: @font-size-mini;
				float: right;

			}

			.widget-block {
				.clearfix();
				 padding: 10px;
				 margin-bottom: 10px;
				 border-radius: @border-radius-small;
				 small {
				 	display: block;
				 	color: #fff;
				 	color: rgba(255,255,255,0.75)
				 }
				 h5 {
				 	margin: 0;
				 	color: #fff;
				 	font-size: 1.3em;
				 	>small {vertical-align: super;display: inline;font-size: 0.6em;}
				 }
			}
		}

	}

	#widgetarea {
		display: block;
		overflow: visible;
	}




	/* Style of the Chat area */
	#chatarea {
		display: none;
		margin-top: 10px;

		.chatuser {
			font-size:@font-size-large; 
			margin:0 0px;

		}

		.chathistory {
			// overflow:hidden;
			bottom: 122px;
			top: 40px;
			position: absolute;
			height: auto;
			display:block;
			z-index: 999999999;

			// Add stylized scrollbar
			overflow-y: auto;
			overflow-x: hidden;
		}
		.chatinput {
			height:100px; width: 279px;
			bottom: 10px; position: absolute;
			textarea {
				border: 1px solid @border-darker;
				text-decoration: none;
				background-color: #fff;
				width: 100%;
				height: 62px;
				padding: 10px;
				resize:none;
			}
		}


		.chatmsg {
			text-align: right;
			position: relative;
			background: @gray-lighter;
			color: #1a1a1a;
			width: 279px;
			padding: 10px;
			margin: 10px 0 20px;
			border-radius: @border-radius-base;


			&:after {
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				top: 100%;
				right: 5%;
				border-top: 10px solid @gray-lighter;
				border-left: 15px solid transparent;
			}
			p { 
				margin: 0;
				font-size:14px;
			}
			span {
				padding-top: 5px;
				display: block;
				text-align: left;
				font-size: 12px;
				.opacity(0.3);
			}

			&.sent {
				text-align: left;
				background: @brand-midnightblue;
				color: #fff;
				position: relative;

				span {
					text-align: right;
				}

				&:after {
					left: 5%;
					right: auto;
					border-left:none;
					border-top: 10px solid @brand-midnightblue;
					border-right: 15px solid transparent;

				
				}	
			}
		}
	}
}

.chat-users {
	.list-unstyled();
	margin-top: 10px;padding: 0;

	a {display: block; color: @gray-dark;}
	a:hover {text-decoration: none; background-color: #f2f3f5; border-radius: 0;}
	li {margin: 5px 0px 0 0px;}
	li:first-child {margin-top:0;}

	img {width: 30px;height: 30px; border-radius: 50%;}
	span {padding-left: 10px}

	li a:after {
		content:"•";
		float: right;
		font-size: 1.7em;
		padding-right: 5px;
		line-height: 30px;
	}

	li[data-stats="online"] a:after 	{color: @brand-success;}
	li[data-stats="busy"] a:after 		{color: @brand-danger;}
	li[data-stats="away"] a:after 		{color: @brand-warning;}
	li[data-stats="offline"] a:after 	{color: @gray-lighter;}
}

//Chrome's custom scrollbars, if you want to use it instead of nicescroll

// #chatarea .chathistory, #widgetarea {
// 	&::-webkit-scrollbar-track {
// 		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 		border-radius: 10px;
// 		background-color: #F5F5F5;
// 	}
// 	&::-webkit-scrollbar {
// 		width: 6px;
// 		background-color: #F5F5F5;
// 	}
// 	&::-webkit-scrollbar-thumb {
// 		border-radius: 10px;
// 		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 		background-color: #777;
// 	}
// }