<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputLabel">{{'locations.model.label' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputLabel" required placeholder="{{'locations.model.label' | translate}}" ng-model="location.label">
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputCapacity">{{'locations.model.capacity' | translate}}</label>
    <div class="col-sm-6">
        <input type="number" class="form-control" id="inputCapacity" placeholder="{{'locations.model.capacity' | translate}}" ng-model="location.capacity">
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label" for="inputDescription">{{'locations.model.description' | translate}}</label>
    <div class="col-sm-6">
        <textarea class="form-control" autosize id="inputDescription" placeholder="{{'locations.model.description' | translate}}" ng-model="location.description"></textarea>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label" for="inputAccesibility">{{'locations.model.accessibility' | translate}}</label>
    <div class="col-sm-6">
        <textarea class="form-control" autosize id="inputAccesibility" placeholder="{{'locations.model.accessibility' | translate}}" ng-model="location.accesibility"></textarea>
    </div>
</div>

<div class="form-group">
    <label  class="col-sm-3 control-label">{{ 'locations.links.location' | translate}} </label>

    <div class="col-sm-6">
        <input google-place-autocomplete="" type="text" class="form-control"  on-select="selectAddress" ng-model="location.address" /></td>
        <div style="height: 300px" gmap options="mapInstanceOption" instance="geoCodingMapInstance"></div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{'equipments.links.equipments' | translate}}</label>
    <div class="col-sm-6">
        <div sympozer-autocomplete="equipments" on-select="addEquipment" on-keyup="searchEquipments"></div>
        <div ng-show="location.equipments.length > 0" sympozer-with-locals locals-equipments="location.equipments" ng-include="GLOBAL_CONFIG.app.modules.equipments.urls.partials+'views/equipments-list-thumbnail-xs.html'"></div>
    </div>
</div>
