<!-- Navigation Right bar -->
<div id="page-rightbar" sticky-scroll="40" rightbar-right-position="style_layoutBoxed" style="">
    <div jscrollpane="{autoReinitialise:true, autoReinitialiseDelay: 100}" style="height: 100%;padding-bottom:40px">
        <accordion close-others="rightbarAccordionsShowOne">
            <accordion-group is-open="rightbarAccordions[0].open" ng-class="{open:rightbarAccordions[0].open}">
                <accordion-heading>Account Summary</accordion-heading>

                <div class="widget-block mt0" style="background: #7dcc93;">
                    <div class="pull-left">
                        <small>Current Balance</small>
                        <h5>$71,182</h5>
                    </div>
                    <div class="pull-right">
                        <div id="currentbalance">
                        <span sparklines="{
                              type: 'bar',
                              barColor: '#67a879',
                              height: '41',
                              barWidth: 5.5}" data-data="[12700,8573,10145,21077,15380,14399,19158,23911,15401,16793,13115,12315]"></span>
                        </div>
                    </div>
                </div>
                <div class="widget-block mt10 mb0" style="background: #4f5259;">
                    <div class="pull-left">
                        <small>Total Sales</small>
                        <h5>$185,603</h5>
                    </div>
                    <div class="pull-right">
                        <div id="totalsales">
                        <span sparklines="{
                              type: 'bar',
                              barColor: '#787d87',
                              height: '41',
                              barWidth: 5.5}" data-data="[27543,58573,43145,75077,37281,24389,69158,73911,45451,11393,48815,15626]"></span>
                        </div>
                    </div>
                </div>

            </accordion-group>

            <accordion-group is-open="rightbarAccordions[1].open" ng-class="{open:rightbarAccordions[1].open}">
                <accordion-heading>
                    Pending Tasks
                    <small>(5)</small>
                </accordion-heading>

                <progressbar contextual="true" value="25" heading="Backend Development" type="info"></progressbar>
                <progressbar contextual="true" value="77" heading="Bug Fix" type="primary"></progressbar>
                <progressbar contextual="true" value="70" heading="Javascript Code" type="success"></progressbar>
                <progressbar contextual="true" value="55" heading="Preparing Documentation" type="danger"></progressbar>
                <progressbar contextual="true" value="25" heading="Mobile App" type="orange"></progressbar>

                <span class="more"><a href="#/ui-progressbars">View all Pending</a></span>


            </accordion-group>
            <accordion-group is-open="rightbarAccordions[2].open" ng-class="{open:rightbarAccordions[2].open}" id="chatbar">
                <accordion-heading>
                    Online Contacts
                </accordion-heading>
                <ul class="chat-users">
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/potter.png" alt=""><span>Jeremy Potter</span></a>
                    </li>
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/tennant.png" alt=""><span>David Tennant</span></a>
                    </li>
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/johansson.png" alt=""><span>Anna Johansson</span></a>
                    </li>
                    <li data-stats="busy">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/jackson.png" alt=""><span>Eric Jackson</span></a>
                    </li>
                    <li data-stats="away">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/jobs.png" alt=""><span>Howard Jobs</span></a>
                    </li>
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/potter.png" alt=""><span>Jeremy Potter</span></a>
                    </li>
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/tennant.png" alt=""><span>David Tennant</span></a>
                    </li>
                    <li data-stats="online">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/johansson.png" alt=""><span>Anna Johansson</span></a>
                    </li>
                    <li data-stats="busy">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/jackson.png" alt=""><span>Eric Jackson</span></a>
                    </li>
                    <li data-stats="away">
                        <a href="#/messages/chatroom"><img src="forza-assets/demo/avatar/jobs.png" alt=""><span>Howard Jobs</span></a>
                    </li>
                </ul>
                <span class="more"><a href="#/messages/chatroom">See all</a></span>

            </accordion-group>
            <accordion-group is-open="rightbarAccordions[3].open" ng-class="{open:rightbarAccordions[3].open}">
                <accordion-heading>
                    Storage Space
                </accordion-heading>

                <div class="clearfix" style="margin-bottom: 5px;margin-top:10px;">
                    <div class="progress-title pull-left">1.31 GB of 1.50 GB used</div>
                    <div class="progress-percentage pull-right">87.3%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                    <div class="progress-bar progress-bar-warning" style="width: 25%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 12.3%"></div>
                </div>
            </accordion-group>


        </accordion>
    </div>
</div>