<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/roles/new/" title="{{ 'roles.actions.add' | translate}}">
  <i class="fa fa-plus"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline"> {{ 'roles.actions.add' | translate}}</span>
</a>
<button ng-controller="importCtrl" ng-click="startImport('Role')" class="btn btn-info" title="{{ 'roles.actions.import' | translate}}">
  <i class="fa fa-caret-square-o-down"></i>
  <span class="visible-sm-inline visible-lg-inline visible-md-inline"> {{ 'roles.actions.import' | translate}}</span>
</button>
<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/roles/export/" title="{{ 'roles.actions.export' | translate}}" disabled="disabled">
  <i class="fa fa-caret-square-o-up"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline "> {{ 'roles.actions.export' | translate}}</span>
</a>
<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/roles/print/" title="{{ 'roles.actions.print' | translate}}" disabled="disabled">
  <i class="fa fa-print"></i>
  <span class="visible-sm-inline visible-lg-inline visible-md-inline "> {{ 'roles.actions.print' | translate}}</span>
</a>