<div class="form-group">
  <label class="col-sm-3 control-label" for="inputLabel">{{ 'roles.model.person' | translate}}</label>

  <div class="col-sm-6">
    <div sympozer-autocomplete="persons" on-select="addPerson" on-keyup="searchPersons"></div>
    <!--<input type="text" required="" class="form-control" server-error="serverError" id="inputLabel" placeholder="{{conference.label}}" ng-model="conference.label" />-->
    <div ng-show="role.person" class="row well well-sm">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img ng-src="{{role.person.img}}" no-image class="img-responsive">
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <a href="javascript:void(0)">
          {{ role.person.label }}
        </a>
      </div>
    </div>
  </div>

</div>


<div class="form-group">
  <label class="col-sm-3 control-label" for="inputRoleLabel">{{ 'roles.model.role_label' | translate}}</label>

  <div class="col-sm-6">
    <div sympozer-autocomplete="roleLabels" required on-select="addRoleLabel" on-keyup="searchRoleLabels"></div>
    <ul class="nav nav-pills">
      <li class="active" ng-show="role.roleLabel">
        <a href="javascript:void(0)">
          {{ role.roleLabel.label }}
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="form-group">
  <label class="col-sm-3 control-label" for="inputRoleLabel">{{ 'roles.model.event' | translate}}</label>

  <div class="col-sm-6">
    <div sympozer-autocomplete="events" on-select="addEvent" on-keyup="searchEvents"></div>
    <ul class="nav nav-pills">
      <li class="active" ng-show="role.event">
        <a href="javascript:void(0)">
          {{ role.event.label }}
        </a>
      </li>
    </ul>
  </div>

</div>