<div class="row well visible-on">
    <div class="col-xs-3 col-sm-5 col-md-3 col-lg-2">
        <a class="btn btn-info" href="#/mainEvents/new/" title="{{'mainEvents.actions.add' | translate}}">
            <i class="fa fa-plus"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline"> {{'mainEvents.actions.new' | translate}}</span>
        </a>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-8">
        <input type="text" class="form-control" placeholder="{{'mainEvents.actions.search' | translate}}" ng-change="sendQuery(query)" ng-model="query">
    </div>
    <div class="col-xs-5 col-sm-3 col-md-4 col-lg-2">
        <a class="btn btn-default" href="#mainEvents/list/" role="button"><i class="fa fa-list fa-1x"></i></a>
        <a class="btn btn-default" href="#mainEvents/thumbnail/" role="button"><i class="fa fa-th fa-1x"></i></a>
    </div>
</div>

