<div ng-include="GLOBAL_CONFIG.app.modules.roleLabelVersions.urls.partials+'views/roleLabelVersions-actions.html'" ng-controller="roleLabelsMainCtrl"></div>
<form name="roleLabelEditForm" class="form" role="form" ng-submit="update(roleLabelEditForm)">
    <div ng-include="GLOBAL_CONFIG.app.modules.roleLabelVersions.urls.partials+'views/roleLabelVersions-form.html'"></div>
    <div>
        <button type="submit" class="btn btn-success">{{ 'global.actions.save' | translate}}</button>
    </div>
</form>