# Symfony directories
*/logs/*
*/cache/*
vendor/*
web/bundles/*
web/js/compiled/*
web/css/compiled/*

# Symfony files
app/config/parameters.yml
app/bootstrap.php.cache
composer.lock

# intellij files
*.iml
.idea

# gedit temp file
*~


*/node_modules/*
node_modules/*
sympozer-front/app/bower
./Gruntfile.js
./src/fibe/FrontendBundle/Resources/public/vendors/*



bin

# smlink file (for dev environement)
web/smlink

#Symlink files
src/fibe/FrontendBundle/Resources/public/public


sympozer-front/.tmp/*
sympozer-front/app/sympozer-scripts/js/ws-config.js
sympozer-front/dist/*
sympozer-front/local-config.json