# Symfony directories
backend/app/logs/*
backend/app/cache/*
backend/vendor/*
backend/web/bundles/*
backend/web/js/compiled/*
backend/web/css/compiled/*

# Symfony files
backend/app/config/parameters.yml
backend/app/bootstrap.php.cache
backend/composer.lock

# intellij files
*.iml
.idea

# gedit temp file
*~

# Node install
*/node_modules/*
node_modules/*
./Gruntfile.js
./src/fibe/FrontendBundle/Resources/public/vendors/*



bin

# smlink file (for dev environement)
web/smlink

#Symlink files
src/fibe/FrontendBundle/Resources/public/public


.tmp/*
frontend/.tmp/*
frontend/app/js/ws-config.js
frontend/dist/*
frontend/app/bower
frontend/app/scripts
frontend/local-config.json
src/fibe/FrontendBundle/Resources/public/vendors/*
npm-debug.log