<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-calendar-o fa-5x"></i>
        <h2>{{ 'persons.links.my_events' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa fa-bookmark fa-5x"></i>
        <h2>{{ 'persons.links.my_bookmarks' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa-ticket fa-5x"></i>
        <h2>{{ 'persons.links.my_tickets' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa-thumbs-o-up fa-5x"></i>
        <h2>{{ 'persons.links.my_recommandations' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>
    <!-- /.col-lg-4 -->

</div><!-- /.row -->