<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-book fa-5x"></i>
        <h2>1. {{ 'papers.links.papers' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-slideshare fa-5x"></i>
        <h2>2. {{ 'resource.slides' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>
</div><!-- /.row -->