<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-mobile fa-5x"></i>
        <h2>1. {{ 'navLeft.mobile_app' | translate }}</h2>
        <p>{{ 'navLeft.mobile_app' | translate }}</p>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-ticket fa-5x"></i>
        <h2>2. {{ 'navLeft.ticket_page' | translate }}</h2>
        <p> {{ 'navLeft.ticket_page' | translate }}</p>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-calendar fa-5x"></i>
        <h2>3. {{ 'navLeft.embedded_calendar' | translate }}</h2>
        <p>{{ 'navLeft.embedded_calendar' | translate }}</p>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-desktop fa-5x"></i>
        <h2>4. {{ 'navLeft.highlights' | translate }}</h2>
        <p>{{ 'navLeft.highlights' | translate }}</p>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>
</div><!-- /.row -->