<div>
    <label for="inputLabel">Label</label>
    <input type="text" class="form-control" id="inputLabel" required placeholder="label" ng-model="location.label">
</div>
<div>
    <label for="inputCapacity">Capacity</label>
    <input type="number" class="form-control" id="inputCapacity" placeholder="Capacity" ng-model="location.capacity">
</div>
<div>
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" placeholder="Description" ng-model="location.description"></textarea>
</div>
<div>
    <label for="inputAccesibility">Accesibility</label>
    <textarea class="form-control" id="inputAccesibility" placeholder="Accesibility" ng-model="location.accesibility"></textarea>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h1>{{location.equipments.length}} Equipments</h1>
       <ul class="nav nav-pills" ng-show="location.equipments.length > 0">
            <li ng-repeat="equipment in location.equipments track by $index"  class="active">
                <a href="javascript:void(0)" ng-click="">
                <span class="badge pull-right"><i class="fa fa-{{equipment.icon}} fa-1x"></i></span>
                {{ equipment.label }}
                </a>
            </li>
        </ul>
  </div>

<div sympozer-autocomplete="equipments" on-select="addEquipment" on-keyup="searchEquipments"></div>
</div>

<div>
    <br/>
    <div class="caption well">
        <leaflet  center="center" markers="markers" height="300px" width="100%"></leaflet>
    </div>
</div>
