<div class="modal-header">
    <h3 class="modal-title">{{'locations.actions.new' | translate}}</h3>
</div>
<div class="modal-body">
    <form name="locationEditForm" class="form" role="form">
        <div ng-include="GLOBAL_CONFIG.app.modules.locations.urls.partials+'locations-form.html'"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(locationEditForm)">{{'global.actions.save' | translate}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{'locations.actions.cancel' | translate}}</button>
</div>

