<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-user fa-5x"></i>
        <h2>1. {{ 'persons.links.persons' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-users fa-5x"></i>
        <h2>2. {{ 'organizations.links.organizations' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>
</div><!-- /.row -->