
<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-cogs fa-5x"></i>

        <h2>1. {{ 'navleft.settings' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-paint-brush fa-5x"></i>
        <h2>2. {{ 'navleft.appearance' | translate }}</h2>
        <p><a class="btn btn-default" href="#" role="button">{{ 'global.actions.details' | translate }}</a></p>
    </div>
</div><!-- /.row -->