<div ng-if="currentUser.random_pwd">
    <div class="alert alert-warning" role="alert">You haven't set your password yet</div>
    <div ng-include="GLOBAL_CONFIG.app.modules.authentication.urls.partials+'changepwd.html'"></div>
</div>
<h2>Profile</h2>
<h4>Enrich your profile</h4>
<a ng-repeat="socialnetwork in GLOBAL_CONFIG.api.urls.socialnetworks track by $index"
   class="btn btn-social btn-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"
   href="{{ socialnetwork.urls.enrich }}">
    <!--ng-click="socialSignInAction(socialnetwork.url)">-->
    <i class="fa fa-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"></i> Enrich profile with {{ socialnetwork.name | titleize }}
</a>
<hr/>
<h2>Account</h2>
<div ng-if="!currentUser.random_pwd">
    <hr/>
    <h4>Change my password</h4>
    <div ng-include="GLOBAL_CONFIG.app.modules.authentication.urls.partials+'change-pwd.html'"></div>
</div>
