<a ng-repeat="socialnetwork in GLOBAL_CONFIG.api.urls.socialnetworks track by $index"
   ng-if="socialnetwork.can_register"
   class="btn btn-social btn-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"
   href="{{ socialnetwork.urls.login }}">
    <!--ng-click="socialSignInAction(socialnetwork.url)">-->
    <i class="fa fa-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"></i> Sign in with {{ socialnetwork.name | titleize }}
</a>
<hr/>
<form name="signupForm" role="form" ng-submit="signupAction(signupForm)" novalidate="">
  <div class="form-group">
    <label for="inputUsername">Login</label>
    <input type="text" required="" server-error="serverError" name="username" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username" ng-minlength="3" required
           ng-maxlength="20"/>
    <div class="alert alert-danger" role="alert" ng-show="signupForm.username.$error.minlength">Your login is too short</div>
    <div class="alert alert-danger" role="alert" ng-show="signupForm.username.$error.maxlength">Your login is too long</div>

  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" server-error="serverError" id="inputEmail" name="mail" placeholder="Email" ng-model="user.email" required ng-class="{'ng-dirty': formServerErrors.email, 'ng-valid': !formServerErrors.email,  'ng-invalid': formServerErrors.email}" ng-pattern=/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" required="" name="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.plainPassword.first" ng-minlength="3"
           ng-maxlength="20"/>

    <div class="alert alert-danger" role="alert" ng-show="signupForm.password.$error.minlength">Your password is too short</div>
    <div class="alert alert-danger" role="alert" ng-show="signupForm.password.$error.maxlength">Your password is too long</div>
  </div>
  <div class="form-group">
    <label for="inputPasswordConfirm">Password check</label>
    <input required="" type="password" name="confirmpassword" id="inputPasswordConfirm" class="form-control" placeholder="Password check" ng-model="user.plainPassword.second"/>
    <div class="alert alert-danger" role="alert" ng-show="signupForm.confirmpassword.$dirty && user.plainPassword.first != user.plainPassword.second">Passwords must match</div>
  </div>

  <div class="form-group">
    <button ng-disabled="signupForm.$invalid" type="submit" class="btn btn-default">Register</button>
  </div>
</form>