<form name="signinForm" class="form" role="form" ng-submit="$parent.signinAction(user)" novalidate="">
    <div class="form-group">
        <label for="inputUsername">{{ 'authentication.labels.username' | translate }}</label>
        <input required="" type="text" name="_username" class="form-control" id="inputUsername" placeholder="{{ 'authentication.labels.username' | translate }}" ng-model="user.username" ng-minlength="3"
               ng-maxlength="40" />

    </div>
    <div class="form-group">
        <label for="inputPassword">{{ 'authentication.labels.password' | translate }}</label>
        <input required="" type="password" name="_password" class="form-control" id="inputPassword" placeholder="{{ 'authentication.labels.password' | translate }}" ng-model="user.password"/>
    </div>
    <div class="form-group">
        <span><a ng-click="$modalCancel()" href="#/forgotten_password">{{ 'authentication.labels.forgotten_pwd' | translate }}</a></span>
    </div>
    <a ng-repeat="socialnetwork in GLOBAL_CONFIG.api.urls.socialnetworks track by $index"
       ng-if="socialnetwork.can_register"
       class="btn btn-social btn-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"
       href="{{ socialnetwork.urls.login }}">
        <!--ng-click="socialSignInAction(socialnetwork.url)">-->
        <i class="fa fa-{{ socialnetwork.name }}{{ socialnetwork.name == 'google' ? '-plus' : '' }}"></i> {{ 'authentication.labels.signin_with' | translate }} {{ socialnetwork.name | titleize }}
    </a>
</form>