<!--<div ng-include="GLOBAL_CONFIG.app.modules.persons.urls.partials+'persons-actions.html'" ng-controller="personsMainCtrl"></div>-->

<div class="well">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="img-container-lg">
                <img  class="scale-img" src="{{ person.img }}"/>
                <img ng-show="!person.img" class="scale-img " src="{{GLOBAL_CONFIG.app.urls.img+'no-picture.jpg'}}"/>
            </div>
            <p>{{person.country}}</p>

        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h3>{{person.firstName || '???'}} {{person.familyName || '???'}}</h3>
            <pre>{{person.description || '????'}}</pre>
            <a ng-if="currentUser.person.id === person.id" class="btn btn-info" href="#profile" role="button">
                <i class="fa fa-edit fa-1x"></i> {{ 'persons.actions.edit_account' | translate}}
            </a>
            <a ng-if="currentUser.person.id === person.id" class="btn btn-info" href="#persons/edit/{{person.id}}" role="button">
                <i class="fa fa-edit fa-1x"></i> {{ 'persons.actions.edit_profile' | translate}}
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6">
        <h1>Contact</h1>
        <p><i class="fa fa-envelope fa-3x"></i>{{person.email || ''}}</p>
        <p><i class="fa fa-home fa-3x"></i>{{person.website || ''}}</p>
    </div>
    <div class="col-md-6 col-lg-6">
        <h1>Social</h1>
        <p><i class="fa fa-twitter fa-3x"></i>{{person.twitterid || ''}}</p>
        <p><i class="fa fa-linkedin fa-3x"></i>{{person.linkedIn || ''}}</p>
        <p><i class="fa fa-facebook fa-3x"></i>{{person.facebook || ''}}</p>
    </div>
</div>

<div class="row">
    <div class=" col-md-6 col-lg-6">
        <h1>{{person.organizations.length}} {{ 'organizations.links.organizations' | translate}}</h1>
        <div ng-repeat="organization in person.organizations  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">
            <i class="fa fa-users fa-3x"></i>
            <h2>{{ organization.label }}</h2>
            <a class="btn btn-default" href="#organizations/show/{{ organization.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
    <div class="col-md-1 col-lg-6">
        <h1>{{person.papers.length}} {{ 'papers.links.papers' | translate}}</h1>
        <div ng-repeat="paper in person.papers  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">
            <i class="fa fa-book fa-2x"></i>
            <h4>{{ paper.label }}</h4>
            <a class="btn btn-default" href="#papers/show/{{ paper.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class=" col-md-1 col-lg-6">
        <h1>{{person.roles.length}} {{ 'events.links.events' | translate}}</h1>
        <div ng-repeat="role in person.roles  track by $index" class="col-sm-6 col-md-6 col-lg-4  well" ng-if="person.roles">
        <i class="fa fa-calendar fa-2x"></i>
            <h4>{{ role.roleLabelVersion.label }} @ {{ role.event.label}} </h4>
            <a class="btn  btn-default" href="#mainEvents/show/{{ role.mainEvent.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
</div>


<!-- Appel de la timeline correspondant a l'identifiant Twitter (# ou @) -->
<div class="well" ng-if="person.chk_timeline && person.twitterid" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/twittertimeline.html'"
     ng-controller="twitterTimelineCtrl"
     ng-init="getTweets(person.twitterid)"></div>
