
<div class="row">
    <div ng-repeat="role in roles  track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">

        <h2>{{ role.roleLabelVersion.label }}</h2>

        <p>{{ role.mainEvent.label }}</p>

        <a class="btn  btn-primary" href="#conferences/show/{{ role.mainEvent.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
    </div>
</div>





