
<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/categories/new/" title="{{ 'categories.actions.add' | translate }}">
    <i class="fa fa-plus"></i><span class="visible-sm-inline visible-lg-inline visible-md-inline"> {{ 'categories.actions.new' | translate }}</span>
</a>
<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/categories/import/" title="{{ 'categories.actions.import' | translate }}" disabled="disabled">
    <i class="fa fa-caret-square-o-down"></i>
    <span class="visible-sm-inline visible-lg-inline visible-md-inline"> {{ 'categories.actions.import' | translate }}</span>
</a>
<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/categories/export/" title="{{ 'categories.actions.export' | translate }" disabled="disabled">
    <i class="fa fa-caret-square-o-up"></i><span class="visible-sm-inline visible-lg-inline  visible-md-inline "> {{ 'categories.actions.export' | translate }} </span>
</a>

<a class="btn btn-info" href="#/home/conference/{{currentMainEvent.id}}/categories/print/" title="{{ 'categories.actions.print' | translate }}" disabled="disabled">
    <i class="fa fa-print"></i>
    <span class="visible-sm-inline visible-lg-inline visible-md-inline "> {{ 'categories.actions.print' | translate }}</span>
</a>
<a class="btn btn-default" href="#/home/conference/{{currentMainEvent.id}}/categories/list/" role="button"><i class="fa fa-list fa-1x"></i></a>
<a class="btn btn-default" href="#/home/conference/{{currentMainEvent.id}}/categories/thumbnail/" role="button"><i class="fa fa-th fa-1x"></i></a>