<h2>{{ 'mainEvents.labels.general_info' | translate}}</h2>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputLabel">{{ 'mainEvents.model.label' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" required="" class="form-control" server-error="serverError" id="inputLabel" placeholder="{{conference.label}}" ng-model="conference.label" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputDescription">{{ 'mainEvents.model.description' | translate}}</label>
    <div class="col-sm-6">
        <textarea  class="form-control"  autosize id="inputDescription" placeholder="{{conference.description}}" ng-model="conference.description"></textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputLogo">{{ 'mainEvents.model.logo' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputLogo" placeholder="http://..." ng-model="conference.logo">
        <img ng-show="conference.logo" class="img-responsive" no-image ng-src="{{ conference.logo }}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputUrl">{{ 'mainEvents.model.url' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputUrl" placeholder="http://..." ng-model="conference.url">
    </div>
</div>


<h2>{{ 'mainEvents.labels.time_localization' | translate}}</h2>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputStartAt">{{ 'mainEvents.model.startAt' | translate}}</label>

    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control datepicker" datepicker-popup="{{shortDate}}" ng-model="conference.startAt" is-open="startAtOpened" ng-click="startAtOpened = !startAtOpened" min-date="today"  datepicker-options="dateOptions"  ng-required="true"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startAtOpened = !startAtOpened"><i class="fa fa-calendar"></i>
                </button>
            </div>
        </div>
    </div>

    <span class="help-block" ng-show="inputStartAt.startAt.$dirty && conferenceForm.startAt > conferenceForm.endAt">{{ 'mainEvents.validations.start_date_before_end' | translate }}</span>
    <span class="help-block" ng-if="formServerErrors.startAt" ng-repeat="error in formServerErrors.startAt">
        {{ error | translate }}
    </span>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label" for="inputEndAt">{{ 'mainEvents.model.endAt' | translate}}</label>

    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control datepicker" datepicker-popup="{{shortDate}}" ng-model="conference.endAt" is-open="endAtOpened" ng-click="endAtOpened = !endAtOpened" min-date="conference.startAt"  datepicker-options="dateOptions"  ng-required="true"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endAtOpened = !endAtOpened" ><i class="fa fa-calendar"></i>
                </button>
            </div>
        </div>
    </div>
    <span class="help-block" ng-show="inputEndAt.endAt.$dirty && conferenceForm.endAt < eventNewForm.startAt ">{{ 'mainEvents.validations.end_date_after_start' | translate}}</span>
    <span class="help-block" ng-if="formServerErrors.endAt" ng-repeat="error in formServerErrors.endAt">
        {{ error | translate }}
    </span>
</div>

<div class="form-group">
    <label  class="col-sm-3 control-label">{{ 'locations.links.locations' | translate}} </label>

    <div class="col-sm-6">
        <input google-place-autocomplete="" ng-required="" type="text" class="form-control"  on-select="selectAddress" ng-model="conference.location.label" /></td>
        <div style="height: 300px" gmap options="mapInstanceOption" instance="geoCodingMapInstance"></div>
    </div>
</div>

<!--@TODO : restore when teammate module ready-->
<!--<h2>{{ 'teammates.links.team' | translate}}</h2>-->
<!--<div ng-repeat="teammate in conference.team.teammates track by $index">-->
<!---->
<!--coming-->
<!--</div>-->

