<div ng-include="GLOBAL_CONFIG.app.modules.locations.urls.partials+'locations-actions.html'" ng-controller="locationsMainCtrl"></div>
<div class="well">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="img-container-lg">
                <i class="fa fa-map-marker fa-5x"></i>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <h3>{{location.label || '???'}}</h3> <h5>{{location.capacity || '???'}} of capacity</h5>
            <pre>{{location.description || 'add a description'}}</pre>
            <pre>{{location.accesibility || 'add a accesibility description'}}</pre>
            <a class="btn btn-info" href="#/conference/{{location.mainEvent.id}}/locations/edit/{{location.id}}" role="button">
                <i class="fa fa-edit fa-1x"></i> {{'locations.actions.edit' | translate}}
            </a>
        </div>
        <div class=" col-md-5 col-lg-5">
            <leaflet  center="center" markers="markers" height="300px" width="100%"></leaflet>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-lg-5">
        <h1>{{location.events.length}} {{'events.links.events' | translate}}</h1>
       <div ng-repeat="event in location.events  track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
          
           <i class="fa fa-calendar fa-2x"></i>

            <h2>{{event.label}}</h2>

            <h1>{{'events.labels.from' | translate}} : {{mainEvent.startAt}}</h1>
            <h1>{{'events.labels.to' | translate}} : {{mainEvent.endAt}}</h1>

            <pre>{{event.description}}</pre>
            <a class="btn btn-warning" href="#conference/{{ event.mainEvent.id }}/events/edit/{{ event.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
            <a class="btn btn-default" href="#conference/{{ event.mainEvent.id }}/events/show/{{ event.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <h1>{{location.equipments.length}} {{'equipments.links.equipments' | translate}}</h1>
       <ul class="nav nav-pills">
        <li class="active" ng-repeat="equipment in location.equipments track by $index">
            <a href="javascript:void(0)" ng-click="">
                <span class="badge pull-right"><i class="fa fa-{{equipment.icon}} fa-1x"></i></span>
                {{ equipment.label }}
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
   
