<div>
    <label for="inputLabel">Label</label>
    <input type="text" class="form-control" id="inputLabel" required placeholder="label" ng-model="paper.label">
</div>
<div>
    <label for="inputAbstract">Abstract</label>
    <input type="text" class="form-control" id="inputAbstract" placeholder="abstract" ng-model="paper.abstract">
</div>
<div>
    <label for="inputUrl">Url</label>
    <input type="text" class="form-control" id="inputUrl" placeholder="url" ng-model="paper.url">
</div>
<div>
    <label for="inputPublisher">Publisher</label>
    <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher" ng-model="paper.publisher">
</div>
<div>
    <label for="inputPublishDate">Publish Date</label>
    <input type="text" class="form-control" id="inputPublishDate" placeholder="publish Date" ng-model="paper.publishDate">
</div>

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h1>Persons</h1>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a class="btn btn-primary btn-inline" href="javascript:void(0)" ng-click="showAddPub = !showAddPub"><i class="fa fa-plus"></i></a>
  </div>
  <div sympozer-autocomplete="persons" on-select="addPerson" on-keyup="searchPersons"></div>
</div>

<!--<div get-or-create="person" child-field="papers" parent-entity="paper" parent-field="authors" uniq-field="email"></div>-->
<!--<div get-or-create="topic" parent-entity="paper" new-politic="create"></div>-->