<div ng-include="GLOBAL_CONFIG.app.modules.papers.urls.partials+'papers-actions.html'"></div>

<div class="row" entity-list-handler="papers" infinite-scroll='load()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <div ng-repeat="paper in entities  track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
        <i class="fa fa-book fa-3x"></i>

        <h2>{{ paper.label }}</h2>

        <p>{{ paper.publisher }}</p>

        <p>{{ paper.publishDate }}</p>
        <a class="btn btn-warning" href="#conference/{{ paper.mainEvent.id}}/papers/edit/{{ paper.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
        <a class="btn btn-default" href="#conference/{{ paper.mainEvent.id}}/papers/show/{{ paper.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        <a class="btn btn-primary" href="" data-ng-click="clone(paper)" role="button"><i class="fa fa-files-o fa-1x"></i></a>
        <button class="btn btn-danger" data-ng-click="deleteModal($index, paper)" role="button">
            <i class="fa fa-trash-o fa-1x"></i></button>
    </div>
</div>





