<div>
    <label for="inputLabel">Label</label>
    <input type="text" class="form-control" id="inputLabel" required placeholder="label" ng-model="paper.label">
</div>
<div>
    <label for="inputAbstract">Abstract</label>
    <input type="text" class="form-control" id="inputAbstract" placeholder="abstract" ng-model="paper.abstract">
</div>
<div>
    <label for="inputUrl">Url</label>
    <input type="text" class="form-control" id="inputUrl" placeholder="url" ng-model="paper.url">
</div>
<div>
    <label for="inputPublisher">Publisher</label>
    <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher" ng-model="paper.publisher">
</div>
<div>
    <label for="inputPublishDate">Publish Date</label>
    <input type="text" class="form-control" id="inputPublishDate" placeholder="publish Date" ng-model="paper.publishDate">
</div>

<div class="row">
    <label>Topics</label>
    <div sympozer-autocomplete="topics" on-select="addTopic" on-keyup="searchTopics"></div>
    <ul class="nav nav-pills" ng-show="paper.topics.length > 0">
        <li ng-repeat="topic in paper.topics track by $index"  class="active">
            <a href="javascript:void(0)" >{{topic.label}}</a>
        </li>
    </ul>
</div>

<div class="row">
    <label>Authors</label>
    <div sympozer-autocomplete="persons" on-select="addPerson" on-keyup="searchPersons"></div>
    <div ng-repeat="author in paper.authors track by $index" class="col-sm-4 col-md-4 col-lg-3  well" ng-show="paper.authors">
        <div class="col-sm-4 col-md-4 col-lg-3">
        <a ng-click="deletePerson" >
        <i class="fa fa-close" ></i>
        </a>
        </div>
        <div class="img-container-lg">
            <img  class="scale-img" no-image ng-src="{{ author.img }}"/>
        </div>
        <h2>{{ author.label }}</h2>
        <h2>{{ author.email }}</h2>
    </div>
</div>