<div id="page-heading">
  <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>
  <h1>{{'teammates.actions.index.subtitle' | translate }}</h1>
  <div class="options">
    <div class="btn-toolbar">
      <div ng-include="GLOBAL_CONFIG.app.modules.teammates.urls.partials+'views/teammates-actions.html'"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="panel">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="search-classic" entity-list-handler="teammates" limit="2" data-order-by="person">
            <form ng-submit="sendQuery(query)">
              <div class="input-group well w100">
                <input type="text" placeholder="{{'teammates.actions.search' | translate }}" class="form-control" ng-change="sendQuery(query)" ng-model="query"/>
                <span class="input-group-btn">
                  <button role="submit" type="submit" class="btn btn-primary">
                  <i class="fa fa-search"></i> {{'global.actions.search' | translate }}
                  </button>
                </span>
              </div>
            </form>

            <h3 ng-show="query">{{'global.labels.search.displaying' | translate }} '{{ query }}'</h3>
            <hr>
            <pagination ng-show="count > entities.length" total-items="count" ng-model="currentPage" items-per-page="limit" ng-change="fetchPage(currentPage, true)"></pagination>
            <h3>{{ count }} {{'global.labels.search.results' | translate }}
              <small ng-show="count > entities.length"> - Displaying {{(currentPage-1) * limit}} to {{ currentPage * limit > count ? count : currentPage * limit }}</small>
            </h3>
            <div class="search-result" ng-repeat-start="teammate in entities  track by $index">
              <div ng-include="GLOBAL_CONFIG.app.modules.teammates.urls.partials+'views/teammate-entity-row-lg.html'"></div>
              <button class="btn btn-danger" sympozer-acl-show="teammate" data-ng-click="deleteTeammateModal($index, teammate)" role="button">
              <i class="fa fa-trash-o fa-1x"></i>
              </button>
            </div>
            <hr ng-repeat-end="">
            <pagination ng-show="count > entities.length" total-items="count" ng-model="currentPage" items-per-page="limit" ng-change="fetchPage(currentPage, true)"></pagination>
          </div>
        </div>
      </div>

    </div>
    <!-- col-md-12 -->
  </div>
  <!-- row -->
</div> <!-- container -->
</div>
