<div id="page-heading">
  <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>
  <h1>{{'teammates.actions.new' | translate }}</h1>

  <div class="options">
    <div class="btn-toolbar">
      <div ng-include="GLOBAL_CONFIG.app.modules.teammates.urls.partials+'views/teammates-actions.html'"></div>
    </div>
  </div>
</div>
<div class="container">
  <br>

  <form name="teammateNewForm" class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="create(teammateNewForm)">
    <div ng-include="GLOBAL_CONFIG.app.modules.teammates.urls.partials+'views/teammate-form.html'"></div>
    <hr/>
    <div class="form-group">
      <button type="submit" class="btn btn-success">{{ 'global.actions.save' | translate }}</button>
    </div>
  </form>
</div>