<input type="text" ng-model="entity" typeahead-template-url="persons-typeahead.html" typeahead-on-select="select($item, $model)" placeholder="{{ 'persons.actions.search' | translate }} ..." typeahead-wait-ms="500" typeahead="entity as entity.label for entity in keyup($viewValue)" typeahead-loading="loading" class="form-control">
<i ng-show="loading" class="fa fa-spinner fa-spin"></i>


<script type="text/ng-template" id="persons-typeahead.html">
    <div style="width:100%">
        <span ng-if="!match.model.id">
            <hr/>
             <i class="fa fa-plus"></i> {{ 'persons.actions.new' | translate}} ...
         </span>
        <span ng-if="match.model.id">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive inline" no-image ng-src="{{ match.model.img }}"/>
                </div>
                <div class="col-xs-6">
                    <span bind-html-unsafe="match.model.label | typeaheadHighlight:query"></span><br/>
                    <span bind-html-unsafe="match.model.localization.country|| '' | typeaheadHighlight:query"></span>
                </div>
            </div>

        </span>
    </div>
</script>