
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputLabel">{{ 'papers.model.label' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputLabel" required placeholder="{{ 'papers.model.label' | translate}}" ng-model="paper.label">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputAbstract">{{ 'papers.model.abstract' | translate}}</label>
    <div class="col-sm-6">
        <textarea autosize class="form-control fullscreen" id="inputAbstract" placeholder="{{ 'papers.model.abstract' | translate}}" ng-model="paper.abstract"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputUrl">{{ 'papers.model.url' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputUrl" name="inputUrl" placeholder="http://" ng-model="paper.url">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputPublisher">{{ 'papers.model.publisher' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputPublisher"  placeholder="{{ 'papers.model.publisher' | translate}}" ng-model="paper.publisher">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputPublishDate">{{ 'papers.model.publish_date' | translate}}</label>
    <div class="col-sm-6">

        <div class="input-group">
            <input type="text" date-before-now-validator  class="form-control datepicker" datepicker-popup="{{format}}" ng-model="paper.publishDate" is-open="publishDateOpened"  />

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openPublishDatePicker($event)"><i class="fa fa-calendar"></i>
                </button>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="paperForm.inputPublishDate.$error.dateBeforeNow" >This publish date is in the futur</div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'topics.links.topics' | translate}}</label>
    <div class="col-sm-6">

        <div sympozer-autocomplete="topics" on-select="addTopic" on-keyup="searchTopics"></div>
        <ul class="nav nav-pills" ng-show="paper.topics.length > 0">
            <li ng-repeat="topic in paper.topics track by $index"  class="active">
                <a ng-click="removeRelationship('topics', $index)" >
                    {{topic.label}}
                    <i class="fa fa-close" ></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'papers.model.authors' | translate}}</label>
    <div class="col-sm-6">

        <div sympozer-autocomplete="persons" on-select="addPerson" on-keyup="searchPersons">
        </div>
        <div ng-repeat="author in paper.authors track by $index" class="col-sm-4 col-md-4 col-lg-2  well" ng-show="paper.authors">
            <a ng-click="removeRelationship('authors', $index)" >
                <i class="fa fa-close" ></i>
            </a>
            <div class="img-container-lg">
                <img  class="scale-img" no-image ng-src="{{ author.img }}"/>
            </div>
            <h3>{{ author.label }}</h3>
            <h4>{{ author.email }}</h4>
        </div>
    </div>
</div>
</div>
