
<form name="equipmentNewForm" class="form" role="form" ng-submit="create(equipmentNewForm)">
  <div>
    <label for="inputLabel">Label</label>
    <input type="text" class="form-control" id="inputLabel" required placeholder="Label" ng-model="equipment.label">
  </div>
  <div>
    <label for="inputDescription">Description</label>
    <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="equipment.description">
  </div>
  <div>
    <label for="inputIcon">Icon</label>
    <input type="text" class="form-control" id="inputIcon" placeholder="Icon" ng-model="equipment.icon">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>