<div class="verticalcenter">

  <div class="modal-header">
    <a href="#/"><img ng-src="{{GLOBAL_CONFIG.app.urls.img}}logo.png" no-image alt="Logo" class="brand"/></a>
  </div>

  <h4> {{ 'teammates.messages.delete_confirm' | translate}}</h4>

  <div class="well">
    <ul>
      <li>{{ 'persons.model.label' | translate}} : <span ng-bind="teammate.person.label"></span></li>
      <li>{{ 'persons.model.email' | translate}} : <span ng-bind="teammate.person.email"></span></li>
    </ul>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <a href="" class="btn btn-default" ng-click="$dismiss('cancel')">{{ 'global.actions.cancel' | translate }}</a>
      <a href="" class="btn btn-primary" ng-click="signinAction(signinForm)">{{ 'global.actions.ok' | translate }}</a>
    </div>
  </div>
</div>