/************************ GLOBAL ***********************/

body
{
  padding-top: 50px;
}

#wrapper
{
  padding-left: 260px;
  padding-right: 10px;
  transition: all 0.4s ease 0s;
}

.view-frame
{
  padding: 10px;
}

#title
{
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

hr
{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

ul
{
  padding-left: 0 !important;
}

#scrollTopBtn
{
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.btn
{
  /*border-radius: 0px !important;*/
}

/*************************** ALERT BOX ***************************/
#alertBox
{
  position: fixed;
  top: 1em;
  right: 1em;
  max-width: 60em;
  max-height: 20em;
  z-index: 3001;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.alertMsg.ng-leave
{
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/*************************** NAV'S***************************/

/******************************** NAV TOP ****************************/

.navbar-fixed-top
{
  background-color: #fff !important;
}

/******************************** nav left ****************************/
#page-content-wrapper
{
  width: 100%;
  height: auto;
}

.sidebar-nav
{
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav h1
{
  color: white;
  font-size: 1.6em;
}

.sidebar-nav li
{
  line-height: 40px;
  text-indent: 2px;
}

.sidebar-nav li a
{
  display: block;
  color: #e7e7e7;
}

.sidebar-nav li:hover a
{
  color: #fff;
}

.sidebar-nav li:hover
{
  background: #324852;
}

.sidebar-nav li a:active
{
  background: #324852;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus
{
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand
{
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a
{
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover
{
  color: #fff;
  background: none;
}

.sidebar-nav-list
{
  margin-left: 2px;
}

.content-header
{
  height: 65px;
  line-height: 65px;
}

.content-header h1
{
  margin: 0 0 0 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle
{
}

.inset
{
  padding: 20px;
}

#sidebar-left-wrapper
{
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #19313b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  transition: all 0.4s ease 0s;
}

#sidebar-left-toggle
{
  background-color: #fff !important;
  color: #19313b !important;
  border-color: #19313b !important;
  margin-left: 10px;
}

.panel-success .panel-heading.perso
{
  height: 20px;
  padding: 5px;
  padding-bottom: 20px;
}

.panel-collapse
{
  background: #19313b;
  border: 0px;

}

.panel-heading
{
  background-color: #fff !important;
}

.panel-heading.noPadding
{
  padding: 0px !important;
}

.btn.noBorder
{
  border-radius: 0px !important;
}

.panel-heading-href
{
  width: 100%;
  text-align: left;
}

.panel
{
  border: 0px;
  border-radius: 0px !important;
}

.sidebar-nav .img-container
{
  height: 40px;
  /*width: 40px;*/
}

/*.sidebar-nav .scale-img
{
  height: 100%;
  width: auto;
}*/

/******************************** nav right ****************************/
#sidebar-right-wrapper
{
  margin-right: -250px;
  right: 250px;
  width: 250px;
  top: 50px;
  background: #19313b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 2000;
  transition: all 0.4s ease 0s;
}

@media (max-width: 767px)
{

  #wrapper
  {
    padding-left: 0;
    padding-right: 0;
  }

  #sidebar-left-wrapper
  {
    left: 0;
  }

  #wrapper.active-left
  {
    position: static;
    left: 250px;
  }

  #wrapper.active-left #sidebar-left-wrapper
  {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle
  {
    display: inline-block;
  }

  .inset
  {
    padding: 15px;
  }

  /******************************** nav right ****************************/
  #sidebar-right-wrapper
  {
    right: 0;
  }

  #sidebar-right.active-right
  {
    position: relative;
    right: 250px;
  }

  #wrapper.active-right #sidebar-right-wrapper
  {
    right: 250px;
    width: 250px;
    top: 57px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle
  {
    display: inline-block;
  }

  .inset
  {
    padding: 15px;
  }

}

/*************** FORMS *******************/

input.ng-dirty.ng-invalid
{
  border: 1px solid #a94442;
  border-left: 5px solid #a94442;
}

input.ng-dirty.ng-valid
{
  border: 1px solid #3c763d;
  border-left: 5px solid #3c763d;
}

[get-or-create]:last-child
{
  margin-bottom: 15px;
}

[get-or-create] .ng-hide
{
  display: none;
}

/*************** MODAL *******************/

.modal
{
  /*max-height: 90%;*/
}

.modal-body
{
  overflow: auto;
  max-height: 60vh;
}

.modal-header > *
{
  margin: 0;
}

/*************** SOCIAL BUTTON*****************/

.btn.btn-social
{
  border-radius: 6px !important;
  margin: 0.5em;
}

/*********************  ng-hide**********************/

/*************** IMAGES *****************/
.img-container-sm
{
  height: 30px;
  /*width: 30px;*/
}

.img-container-md
{
  height: 60px;
  /*width: 60px;*/
}

.img-container-lg
{
  height: 130px;
  /*width: 130px;*/
}

.scale-img
{
  max-height: 100%;
  max-width: 100%;
  /*height: 100%;
  width:auto;*/
}

