<h2>{{ 'events.labels.general_info' | translate }}</h2>


<div class="form-group">
    <label class="col-sm-3 control-label" for="inputLabel">{{ 'events.model.label' | translate }}</label>

    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputLabel" required placeholder="{{ 'events.model.label' | translate }}" ng-model="event.label">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputDescription">{{ 'events.model.description' | translate }}</label>

    <div class="col-sm-6">
        <textarea class="form-control" autosize id="inputDesc" name="description" placeholder="{{ 'events.model.description' | translate}}" ng-model="event.description">
        </textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputUrl">{{ 'events.model.url' | translate }}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputUrl" placeholder="http://..." ng-model="event.url">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'categories.links.category' | translate }}</label>
    <div class="col-sm-6">
        <div sympozer-autocomplete="categories" on-select="addCategory" on-keyup="searchCategories"></div>
        <div ng-show="event.category" sympozer-with-locals locals-category="event.category" ng-include="GLOBAL_CONFIG.app.modules.categories.urls.partials+'views/categories-thumbnail-xs.html'"></div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'topics.links.topics' | translate }}</label>
    <div class="col-sm-6">
        <div sympozer-autocomplete="topics" on-select="addTopic" on-keyup="searchTopics"></div>
        <div ng-show="event.topics.length > 0" sympozer-with-locals locals-edit="true" locals-topics="event.topics" ng-include="GLOBAL_CONFIG.app.modules.topics.urls.partials+'views/topics-list-thumbnail-xs.html'"></div>
    </div>
</div>


<h2>{{ 'events.labels.time_localization' | translate }}</h2>
<!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">{{ 'events.model.startAt' | translate }} & {{ 'events.model.endAt' | translate }}</label>-->

    <!--<div class="col-sm-6">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" required="" id="dateRange" name="dateRange" sympozer-error-field="endAt" daterangepicker="{ timePicker: true, timePickerIncrement: 15, format: 'MM/DD/YYYY h:mm A' }">-->
            <!--<span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'events.model.day' | translate }}</label>

    <div class="col-sm-6" sympozer-event-days-dropdown start="{{currentMainEvent.startAt}}" end="{{currentMainEvent.endAt}}" sympozer-error-field="endAt" model="event.selectedDay">

    </div>
</div>

 <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'global.labels.from' | translate }}</label>
            <div class="col-sm-3">
                <timepicker ng-model="event.timeStart" hour-step="1" minute-step="15" show-meridian="false" class="timepicker"></timepicker>
            </div>            <label class="col-sm-1 control-label">{{ 'global.labels.to' | translate }}</label>

     <div class="col-sm-3">                <timepicker ng-model="event.timeEnd" hour-step="1" minute-step="15" show-meridian="false" class="timepicker"></timepicker>
     </div>        <div ng-show="event.timeStart > event.timeEnd" sympozer-with-locals locals-edit="true" locals-topics="event.topics" ng-include="GLOBAL_CONFIG.app.modules.topics.urls.partials+'views/topics-list-thumbnail-xs.html'"></div>

 </div>


<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'locations.links.location' | translate }}</label>

    <div class="col-sm-6">
        <div sympozer-autocomplete="locations" on-select="addLocation" on-keyup="searchLocations"></div>
        <div ng-show="event.location" sympozer-with-locals locals-location="event.location" ng-include="GLOBAL_CONFIG.app.modules.locations.urls.partials+'views/locations-thumbnail-xs.html'"></div>
    </div>

</div>

<h2>{{ 'papers.links.papers' | translate }}</h2>
<div class="form-group">
    <label class="col-sm-3 control-label">{{ 'papers.links.papers' | translate }}</label>

    <div class="col-sm-6">
        <div sympozer-autocomplete="papers" on-select="addPaper" on-keyup="searchPapers"></div>
        <div ng-repeat="paper in event.papers  track by $index" class="col-sm-5 col-md-5 col-lg-5">
            <div sympozer-with-locals locals-paper="paper" locals-edit="true" ng-include="GLOBAL_CONFIG.app.modules.papers.urls.partials+'views/papers-tile-sm.html'"></div>
        </div>
    </div>

</div>


<!-- @TODO: restore person management for event-->
<!--<h2>{{ 'persons.links.persons' | translate }}</h2>-->
<!--<div class="form-group">-->
<!--<a class="btn btn-primary btn-inline" ng-click="addRole"><i class="fa fa-plus"></i></a>-->
<!--<div ng-repeat="role in event.roles  track by $index" class="col-sm-3 col-md-3 col-lg-3  well">-->
<!--<a ng-click="deleteRole($index)" >-->
<!--<i class="fa fa-close" ></i>-->
<!--</a>-->
<!--<div class="img-container-lg">-->
<!--<img  class="scale-img" no-image ng-src="{{ role.person.img }}"/>-->
<!--</div>-->
<!--<h2>{{ role.person.label }}</h2>-->
<!--<h2>{{ role.person.email }}</h2>-->
<!--<h3>{{ role.roleLabel.label }}</h3>-->
<!--</div>-->
<!--</div>-->
