<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'events.model.label' | translate }}<i class="fa fa-sort-asc" ng-click="order('label','ASC')"></i><i class="fa fa-sort-desc" ng-click="order('label','DESC')"></i>
        </th>
        <th>{{ 'events.model.startAt' | translate }}
            <i class="fa fa-sort-asc" ng-click="order('website','ASC')"></i><i class="fa fa-sort-desc" ng-click="order('website','DESC')"></i>
        </th>
        <th>{{ 'events.model.endAt' | translate }}
            <i class="fa fa-sort-asc" ng-click="order('country','ASC')"></i><i class="fa fa-sort-desc" ng-click="order('country','DESC')"></i>
        </th>
        <th>{{ 'global.actions.actions' | translate }}</th>
    </tr>
    </thead>
    <tbody  infinite-scroll='load()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <tr ng-repeat="event in entities  track by $index">
        <td>{{ event.label }}</td>
        <td>{{ event.startAt | date:'short'}}</td>
        <td>{{ event.endAt | date:'short'}}</td>
        <td>
            <a class="btn btn-warning btn-sm" href="#/home/conference/{{ event.mainEvent.id }}/events/edit/{{ event.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
            <a class="btn btn-default btn-sm" href="#/home/conference/{{ event.mainEvent.id }}/events/show/{{ event.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
            <a class="btn btn-primary btn-sm" href="" data-ng-click="clone(event, $index)" role="button"><i class="fa fa-files-o fa-1x"></i></a>
            <button class="btn btn-danger btn-sm" data-ng-click="deleteModal($index, event)" role="button">
                <i class="fa fa-trash-o fa-1x"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>