<div id="page-heading">

    <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>

    <h1>{{'papers.links.papers' | translate }}</h1>

    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <div ng-include="GLOBAL_CONFIG.app.modules.papers.urls.partials+'views/papers-actions.html'"></div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel">
                <div class="panel-heading">
                    <h4>{{'papers.actions.search' | translate }}</h4>
                </div>
                <div class="panel-body" entity-list-handler="papers">
                    <div class="search-classic">
                        <form ng-submit="sendQuery(query)">
                            <div class="input-group well w100">
                                <input type="text" ng-model="query" placeholder="{{'global.actions.placeHolderSearch' | translate }}" class="form-control"/>
                              <span class="input-group-btn">
                                <button role="submit" type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i> {{'global.actions.search' | translate }}
                                </button>
                              </span>
                            </div>
                        </form>
                        <hr>
                        <div class="row" ng-include="GLOBAL_CONFIG.app.modules.papers.urls.partials+'views/papers-entity-list-md.html'"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- col-md-12 -->
    </div>
    <!-- row -->
</div> <!-- container -->
</div>
