.navbar-inverse {
  background-color: #000000;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #000000;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #000000;
}
header .toolbar .dropdown,
header #headerbardropdown,
header #rightmenu-trigger {
  border-left: 1px solid #000000;
}
header #leftmenu-trigger {
  border-right: 1px solid #000000;
}
@media (max-width: 480px) {
  ul.toolbar {
    background-color: #0d0d0d;
  }
}
