/**
 * Alignment screen's espacelized
 *
 * Description : espacelized alignement wich consider the size of the screen to apply the named effect
 *
 * Exemple : .text-right-lg will align the text to the right, only if the screen is currently large (lg)
 *
 * @Author Vincent Sébille
 */
@media (min-width: @screen-lg) {
  .text-right-lg {
    text-align: right;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-justify-lg {
    text-align: justify;
  }
  .text-nowrap-lg {
    white-space: nowrap;
  }
}

@media (min-width: @screen-md) {
  .text-right-md {
    text-align: right;
  }
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-justify-md {
    text-align: justify;
  }
  .text-nowrap-md {
    white-space: nowrap;
  }
}

@media (min-width: @screen-sm) {
  .text-right-sm {
    text-align: right;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-justify-sm {
    text-align: justify;
  }
  .text-nowrap-sm {
    white-space: nowrap;
  }
}
