<!--<div ng-include="GLOBAL_CONFIG.app.modules.organizations.urls.partials+'organizations-actions.html'"></div>-->

<div class="row" entity-list-handler="organizations" infinite-scroll='load()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <div ng-repeat="organization in entities  track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
        <div class="img-container-md">
            <img class="scale-img img-circle" no-image ng-src="{{ organization.img }}"/>
        </div>
        <h2>{{ organization.label }}</h2>

        <p>{{ organization.website }}</p>

        <p>{{ organization.country }}</p>
        <a class="btn btn-warning" href="#organizations/edit/{{ organization.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
        <a class="btn btn-default" href="#organizations/show/{{ organization.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        <a class="btn btn-primary" href="" data-ng-click="clone(organization)" role="button"><i class="fa fa-files-o fa-1x"></i></a>
        <button class="btn btn-danger" data-ng-click="deleteModal($index, organization)" role="button">
            <i class="fa fa-trash-o fa-1x"></i></button>
    </div>
</div>





