<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputImg">{{ 'organizations.model.img' | translate}}</label>
    <div class="col-sm-6">
        <img ng-src="{{organization.img}}" class="img-responsive">
        <input type="url" class="form-control" id="inputImg" placeholder="http://" ng-model="organization.img">
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputLabel">{{ 'organizations.model.label' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputLabel" required="" placeholder="{{ 'organizations.model.label' | translate }}" ng-model="organization.label">
    </div>
</div>

<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputWebsite">{{ 'organizations.model.website' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputWebsite" placeholder="http://" ng-model="organization.website">
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label"  name="inputLocalization" for="inputLocalization">{{ 'organizations.model.localization' | translate}}</label>
    <div class="col-sm-6">
        <input google-place-autocomplete  type="text"  on-select="setLocalization" class="form-control" id="inputLocalization" placeholder="{{ 'organizations.model.localization' | translate}}" ng-model="organization.localization.label">
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-3 control-label"  for="inputDescription">{{ 'organizations.model.description' | translate}}</label>
    <div class="col-sm-6">
        <textarea  class="form-control fullscreen" autosize id="inputDescription" placeholder="{{ 'organizations.model.description' | translate}}" ng-model="organization.description"></textarea>
    </div>
</div>
