/*-------------------------------------------------------------------------------------
--------------------------------------GLOBAL-----------------------------------------
-------------------------------------------------------------------------------------*/
body{
	min-width:500px;
}



/*-------------------------------------------------------------------------------------
--------------------------------------MAINNAVBAR-----------------------------------------
-------------------------------------------------------------------------------------*/
#main-navbar{
	background-color : #f2f2f2;
	min-height: 70px;
	border-bottom : 2px solid #19313b;
	margin-bottom : 0px !important;
}

#main-navbar ul *{
	color:#19313b;
}

.nav{
	padding-left : inherit;
}

.navbar-collapse{
	overflow-x: hidden;
}

/* bootstrap fix*/
.row {
	margin-right: 0px;
}
.content .row .row{
	margin-right: -15px;
}
.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
}


/*-------------------------------------------------------------------------------------
--------------------------------------MENUNAVBAR----------------------------------------
-------------------------------------------------------------------------------------*/


#menu-navbar{
		
	margin-bottom: 0px !important;
	background:#19313b;
	color:#f2f2f2 ;
}


#menu-navbar ul {
	background:#19313b;
	color:  #f2f2f2;
}


#menu-navbar .btn-conf {
	background:#f2f2f2;
	border: none;
	margin-top : -4px;
	margin-left : 10px;

 	-o-text-overflow: ellipsis; /* pour Opera 9 */
  	text-overflow: ellipsis; /* pour le reste du monde */
	overflow : hidden;
	border-radius: 0px  0px 20px 20px;
	width : 230px;
	color: #19313b;
}

.btn-conf a{
	text-decoration: none;
	color: #19313b;
}

.btn-conf:focus{
	text-decoration: none;
	color: #19313b;
}

.navbar-inverse .navbar-nav>li>a{
	color:#f2f2f2 !important ;
}


#menu-navbar .dropdown-menu>li>a {
	background:#19313b !important ;
	color:#f2f2f2 !important ;

}

#menu-navbar .dropdown-menu > li :hover{
	background:#f2f2f2!important ;
	color: #19313b !important ;
}

#menu-navbar li :focus{
	background:#19313b !important ;
	color:#f2f2f2 !important ;
}

#menu-navbar .dropdown-menu>li>a>i {
	width: 45px; 
}
#menu-navbar .dropdown-menu>li>a {
	padding-left:10px;
}

/*-------------------------------------------------------------------------------------
--------------------------------------BREADCRUM-ENTITIES-----------------------------------------
-------------------------------------------------------------------------------------*/

.breadcrum {
	border-bottom: solid 2px #19313b;
	margin-top: 20px;
	
	color: ;

}
.breadcrum>li.active>a {

	background-color:#f2f2f2;
	border-bottom:none;
}

.breadcrum>li {
	padding:1px;

}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.breadcrum > li > a{
	background-color:#999;
	color :  #f2f2f2; 


	text-align:center;
}




.breadcrum > li > a:hover{
	background-color:#999;

}

.breadcrum  li.active {
	background-color : #eeeeee;
	margin-bottom: -4px;
	border-bottom: 4px solid #eeeeee;
	border-left: solid 2px #19313b;
	border-top: solid 2px #19313b;
	border-right: solid 2px #19313b;
}




/*-------------------------------------------------------------------------------------
--------------------------------------CONTENT-----------------------------------------
-------------------------------------------------------------------------------------*/
.center{
	/*min-height : 1000px;*/

	min-height : 800px;
	margin-bottom : 15px;
	border-bottom: solid 2px #19313b;
	border-right: solid 2px #19313b;
	border-left: solid 2px #19313b;
	background-color: #eeeeee;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-bottom-left-radius: 18px;
	border-bottom-left-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	-moz-border-bottom-right-radius: 18px;
	border-bottom-right-radius: 18px;
}



/*.form-control
{
	width:40% !important;
	padding-left :40% !important;

}

option
{
	lineheight: 40% !important ;
}*/

.equipment_button >.delete_equipment
{
	margin-bottom: 50%;

}


.badge-primary, .authorization-OWNER{ 
    background-color: #428bca;
}
.badge-warning, .authorization-MASTER{ 
    background-color: #f0ad4e;
}
.badge-success, .authorization-OPERATOR{ 
    background-color: #5cb85c;
}
.badge-info, .authorization-EDIT{ 
    background-color: #5bc0de;
}
.badge-danger{ 
    background-color: #d9534f;
}

/*-------------------------------------------------------------------------------------
--------------------------------------PAGE HEADER-----------------------------------------
-------------------------------------------------------------------------------------*/

.page-top-header .btn{
		float: right;
		border: solid 2px white;
		background-color:#8EAFCC;

}

.page-top-header{

	margin-bottom: 1.5em;
	margin-top: 1em;

}

.page-title{
	border: solid 2px #8EAFCC;
	-webkit-box-shadow: 0 8px 6px -6px  #656565;
    -moz-box-shadow: 0 8px 6px -6px  #656565;
    box-shadow: 0 8px 6px -6px  #656565;
	min-height:40px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
	background:#8EAFCC;
	color:  #f2f2f2;
	-webkit-border-radius: 0px  5px 5px 0px;
	-moz-border-radius: 0px  5px 5px 0px;
	border-radius:  0px  5px 5px 0px;
}

.page-title > span{
	font-size: 1.5em;
}
div.page-title::before{
	display: block;
	width: 12px;
	height: 0px;
	position: absolute;
	bottom: -12px;
	left: -1px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 14px solid #19313b;
}


.page-btn-list{

	border: solid 2px #8EAFCC;
	background:#8EAFCC;
	color:  #f2f2f2;
	-webkit-box-shadow: 0 8px 6px -6px  #656565;
    -moz-box-shadow: 0 8px 6px -6px  #656565;
    box-shadow: 0 8px 6px -6px  #656565;
	min-height: 40px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
	background:#8EAFCC;
	color:  #f2f2f2;
	-webkit-border-radius: 5px 0px  0px 5px;
	-moz-border-radius: 5px 0px  0px 5px;
	border-radius: 5px 0px  0px 5px;
}

div.page-btn-list::after{
	display: block;
	width: 12px;
	height: 0px;
	position: absolute;
	bottom: -12px;
	right: -1px;
	content: "";
	border-bottom: 10px solid transparent;
	border-left: 14px solid #19313b;
}
 

 
/*-------------------------------------------------------------------------------------
--------------------------------------PAGE CONTENT-----------------------------------------
-------------------------------------------------------------------------------------*/

.page-content{
	padding: 0.5em 3.5em 3em;
	margin-bottom: 1.5em;
}

/*-------------------------------------------------------------------------------------
--------------------------------------FOOTER-----------------------------------------
-------------------------------------------------------------------------------------*/
footer {
	border-top : 2px solid #f2f2f2;
	font-family: QuickSandBold, sans-serif;
	background:#19313b;
	padding-top: 30px;
	color:#f2f2f2 ;
}

footer a {
	color:#f2f2f2 ;

}




/*-------------------------------------------------------------------------------------
--------------------------------------LOG-----------------------------------------
-------------------------------------------------------------------------------------*/

 #bootstrap_alert{
        position     : fixed;
        top          : 1em ;
        right        : 1em ; 
        max-width    : 60em;
        max-height   : 20em;
        z-index      : 3001;
        text-overflow: ellipsis;
        overflow     : hidden;
        white-space  : nowrap;
    }     
    #bootstrap_alert ul{
        margin: 1em 0 1 0.5em;
    }


/*-------------------------------------------------------------------------------------
-----------------------------------------Button----------------------------------------
--------------------------------------------------------------------------------------*/
/* Switch Button */
.has-switch span.switch-left, .has-switch span.switch-sympozer {
color: #fff;
background: #315F73;
}


	/*-------------------------------------------------------------------------------------
--------------------------------------Datas Bundle Conferences-----------------------------------------
-------------------------------------------------------------------------------------*/
.panel-sympozer-dashboard{
	border-color:#397087
	}

.panel-sympozer-dashboard>.panel-heading{
	color:#fff;
	background-color:#397087;
	border-color:#397087
	}

.panel-sympozer-dashboard>.panel-heading+.panel-collapse
.panel-body{border-top-color:#397087}
.panel-sympozer-dashboard>.panel-footer+.panel-collapse
.panel-body{border-bottom-color:#397087}


	/*-------------------------------------------------------------------------------------
--------------------------------------Template Documentation-----------------------------------------
-------------------------------------------------------------------------------------*/


#masthead {
	min-height:250px;
}

#masthead h1 {
	font-size: 30px;
	line-height: 1;
  	padding-top:20px;
}

#masthead .well {
	margin-top:8%;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 50px;
	}
}

.navbar-bright {
	background-color:#111155;
    color:#fff;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

.container-documentation {
	

}


/*-------------------------------------------------------------------------------------
--------------------------------------Button color Sympozer-----------------------------------------
-------------------------------------------------------------------------------------*/

.btn-sympozer
{   color:#fff;
	background-color:#2B5566;
	border-color:#2B5566;
}
.btn-sympozer:hover,.btn-sympozer:focus,.btn-sympozer:active,.btn-sympozer.active,.open .dropdown-toggle.btn-sympozer{
	color:#fff;
	background-color:#19313b;
	border-color:#19313b
}
.btn-sympozer:active,.btn-sympozer.active,.open .dropdown-toggle.btn-sympozer{
	background-image:none
	}
.btn-sympozer.disabled,.btn-sympozer[disabled],
fieldset[disabled] .btn-sympozer,.btn-sympozer.disabled:hover,.btn-sympozer[disabled]:hover,
fieldset[disabled] .btn-sympozer:hover,.btn-sympozer.disabled:focus,.btn-sympozer[disabled]:focus,
fieldset[disabled] .btn-sympozer:focus,.btn-sympozer.disabled:active,.btn-sympozer[disabled]:active,
fieldset[disabled] .btn-sympozer:active,.btn-sympozer.disabled.active,.btn-sympozer[disabled].active,
fieldset[disabled] .btn-sympozer.active
{
	background-color:#19313b;border-color:#19313b
}
.btn-sympozer .badge{
	color:#428bca;
	background-color:#2B5566}


/*-------------------------------------------------------------------------------------
--------------------------------------Global Ajax Spinner-----------------------------------------
-------------------------------------------------------------------------------------*/
body.wait *, body.wait
{
    /*cursor: url(../img/ajax-loader.gif), url(../img/ajax-loader.ani), auto; !important;*/
    cursor: progress !important;
}