<div class="row">
    <input type="text" class="form-control" placeholder="{{ 'organizations.actions.search' | translate}}" ng-change="sendQuery(query)" ng-model="query">
</div>
<hr/>
<div class="row" entity-list-handler="organizations" infinite-scroll='load()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <div ng-repeat="organization in entities  track by $index" class="col-sm-6 col-md-6 col-lg-4 well">
        <div class="img-container-md">
            <img class="scale-img img-circle" no-image ng-src="{{ organization.img }}"/>
        </div>
        <h2>{{ organization.label }}</h2>

        <p>{{ organization.website }}</p>

        <p>{{ organization.country }}</p>
        <a class="btn btn-default" href="#organizations/show/{{ organization.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>

    </div>
</div>





