<div id="page-heading">
  <div ng-include="'views/breadcrumb.html'"></div>

  <h1>Events</h1>

  <!-- @TODO FORZA : REACTIVATE Dropdown option & Setting option (if needed) -->

  <!--<div class="options">-->
    <!--<div class="btn-toolbar">-->
      <!--<div class="btn-group" dropdown>-->
        <!--<button type="button" class="btn btn-default dropdown-toggle">-->
          <!--Export as <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li class="divider"></li>-->
          <!--<li><a href="#">Separated link</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>-->
    <!--</div>-->
  <!--</div>-->
  
</div>


<div class="container-fluid" ng-controller="DashboardController"> <!-- @TODO FORZA : set the correct controller for the current page -->
  <!-- @TODO FORZA : Main content -->
</div>
