            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="#/">Dashboard</a></li>
                    <li>Charts</li>
                    <li class="active">Flot</li>
                </ol>

                <h1>Flot</h1>
                <div class="options">
                    <div class="btn-toolbar">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle">
                                Export as <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
                    </div>
                </div>
            </div>
            <div class="container-fluid" ng-controller="FlotChartsController">

                <div class="row">
                    <div class="col-md-12">
                        <alert>
                            <p>Flot charts are created using the <code>flot-chart</code> directive. Innovative, eh?</p>
                            <p>Pass in the chart data through the <code>data-flot-data</code> attribute and the options through the <code>data-flot-options</code> attribute. And hvala!</p>
                            <p>Optionally you can use the <code>data-plot-hover</code> and <code>data-plot-click</code> attributes to respond to user events!</p>
                        </alert>
                        <panel panel-class="panel-info" heading="Interacting with data point">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="sinusoidalData"
                                data-flot-options="sinusoidalOptions"
                                data-plot-hover="onHover(event, position, item)"
                                data-plot-click="onClick(event, position, item)"></div>
                        </panel>
                    </div>

                    <div class="col-md-12">
                        <panel panel-class="panel-info" heading="Multiple Graph Types In One">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="multigraphData"
                                data-flot-options="multigraphOptions"
                            ></div>
                        </panel>
                    </div>

                    <div class="col-md-12">
                        <panel panel-class="panel-info" heading="Live Dynamic">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="realtimeData"
                                data-flot-options="realtimeOptions"
                            ></div>
                        </panel>
                    </div>

                    <div class="col-md-12">
                        <panel panel-class="panel-info" heading="Stacked">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="stackedData"
                                data-flot-options="stackedOptions"
                            ></div>

                            <p class="stackControls">
                                <button class="btn btn-primary" ng-click="toggleOption('IsTrue')">With stacking</button>
                            </p>
                            
                            <p class="graphControls">
                                <button class="btn btn-info" ng-click="toggleOption('Bards')">Bars</button>
                                <button class="btn btn-info" ng-click="toggleOption('Lines')">Lines</button>
                                <button class="btn btn-info" ng-click="toggleOption('Steps')">Lines with steps</button>
                            </p>
                        </panel>
                    </div>

                    <div class="col-md-4">
                        <panel panel-class="panel-info" heading="Pie">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="pieData"
                                data-flot-options="{ series: { pie: { show: true } } }"
                            ></div>
                        </panel>
                    </div>

                    <div class="col-md-4">
                        <panel panel-class="panel-info" heading="Donut">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="pieData"
                                data-flot-options="{ series: { pie: { innerRadius: 0.5, show: true } } }"
                            ></div>
                        </panel>
                    </div>

                    <div class="col-md-4">
                        <panel panel-class="panel-info" heading="Hoverable">
                            <div flot-chart style="width: 100%; height:350px" 
                                data-flot-data="pieData"
                                data-flot-options="{ series: { pie: { show: true } },  grid: { hoverable: true, clickable: true } }"
                            ></div>
                        </panel>
                    </div>

                </div>

            </div> <!-- container -->
