<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Tasks</li>
	</ol>

	<h1>Tasks</h1>
</div>

<div class="container-fluid" ng-controller="TasksController">
<script type="text/ng-template" id="items_renderer.html">
	<label>
	    
	    <!-- <input type="checkbox"> -->
	    <span class="task-description" ng-show="!item.editing">{{item.title}}</span>
	    <span class="label label-{{item.color || 'primary'}}" ng-show="item.label && !item.editing">{{item.label}}</span>
              	<form class="form-horizontal" action="" ng-submit="doneEditing(item)" ng-show="item.editing" data-nodrag>
              		<div class="form-group">
              			<div class="col-lg-6 col-xs-5">
              				<input type="text" class="form-control no-validate" ng-model="item.title" placeholder="Task title..." ng-keyup="cancelEdit($event, item)">
              			</div>
              			<div class="col-lg-4 col-xs-4">
              				<div class="input-group">
			                  	<input type="text" class="form-control no-validate" ng-model="item.label" placeholder="Task label..." ng-keyup="cancelEdit($event, item)">

							    <div class="input-group-btn">
							    	<div class="btn-group" dropdown style="">
							    	  <button type="button" class="btn btn-default dropdown-toggle">
							    	    <div class="label label-{{item.color||'primary'}} color-block"></div>
							    	  </button>
							    	  <ul class="dropdown-menu dropdown-colors" role="menu">
			                            <li><span class="label label-success" ng-click="item.color='success'"></span></li>
			                            <li><span class="label label-primary" ng-click="item.color='primary'"></span></li>
			                            <li><span class="label label-warning" ng-click="item.color='warning'"></span></li>
			                            <li><span class="label label-danger" ng-click="item.color='danger'"></span></li>
			                            <li><span class="label label-info" ng-click="item.color='info'"></span></li>
							    	  </ul>
							    	</div>
							    </div>
						    </div>
              			</div>
					    <div class="col-lg-2 col-xs-3">
                  			
                  			<input type="submit" class="btn btn-primary btn-block" value="Save" />
                  		</div>
              		</div>
              	</form>
	</label>
	<div class="options todooptions">
	    <div class="btn-group" ng-show="!item.editing">
	        
	        <button data-nodrag class="btn btn-default btn-xs" ng-click="complete(this, item)"><i class="fa fa-fw fa-check"></i></button>
	        <button data-nodrag class="btn btn-default btn-xs" ng-click="edit(item)"><i class="fa fa-fw fa-pencil"></i></button>
	        <button data-nodrag class="btn btn-default btn-xs" ng-click="remove(this)"><i class="fa fa-fw fa-trash-o"></i></button>
	    </div>
	</div>
</script>

	<div class="row">
		<div class="col-xs-12">

			<tabset panel-tabs="true" panel-class="panel-sky">
				<panel-controls class="pull-right">
					<button class="btn btn-primary btn-sm" ng-click="showForm=true;showTasksTab=true;showCompletedTab=false" style="margin-top: -5px;">Add Task</button>
				</panel-controls>
				<tab active="showTasksTab">
					<tab-heading><i class="fa fa-tasks"></i> To-do <span class="badge badge-primary">{{tasks.length}}</span></tab-heading>
                  <div>

                  	<form class="form-horizontal" name="create_task" ng-submit="newItem(newTaskTitle, newTaskLabelText, newTaskColor)" ng-show="showForm">
                  		<div class="form-group">
                  			<div class="col-lg-8 col-md-7 col-sm-6 col-xs-5">
                  				<input type="text" class="form-control no-validate" ng-model="newTaskTitle" placeholder="Task title..." ng-keyup="cancelAdd($event)">
                  			</div>
                  			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                  				<div class="input-group">
				                  	<input type="text" class="form-control no-validate" ng-model="newTaskLabelText" placeholder="Task label..." ng-keyup="cancelAdd($event)">

								    <div class="input-group-btn">
								    	<div class="btn-group" dropdown style="">
								    	  <button type="button" class="btn btn-default dropdown-toggle">
								    	    <div class="label label-{{newTaskColor||'primary'}} color-block"></div>
								    	  </button>
								    	  <ul class="dropdown-menu dropdown-colors" role="menu">
				                            <li><span class="label label-success" ng-click="newTaskColor='success'"></span></li>
				                            <li><span class="label label-primary" ng-click="newTaskColor='primary'"></span></li>
				                            <li><span class="label label-warning" ng-click="newTaskColor='warning'"></span></li>
				                            <li><span class="label label-danger" ng-click="newTaskColor='danger'"></span></li>
				                            <li><span class="label label-info" ng-click="newTaskColor='info'"></span></li>
								    	  </ul>
								    	</div>
								    </div>
							    </div>
                  			</div>
                  			<div class="col-md-2 col-lg-1">
		                  			<input
		                  				class="btn btn-success btn-block"
		                  				value="Add Task"
		                  				type="submit"
		                  			/>
	                  		</div>
                  		</div>
                  		
                  	</form>
                  	
                  	
                  	
                  </div>
                  <div ui-tree="options" class="tasklist">
                    <ol ui-tree-nodes ng-model="tasks" class="panel-tasks">
                      <li
                      	ui-tree-node
                      	ui-tree-handle
                      	ng-repeat="item in tasks"
                      	ng-include="'items_renderer.html'"
                      	ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                      ></li>
                    </ol>
                  </div>

				</tab>

				<tab active="showCompletedTab">
					<tab-heading><i class="fa fa-check"></i> Completed <span class="badge badge-success">{{tasksComplete.length}}</span></tab-heading>
					<div class="tasklist">
						<ol class="panel-tasks">
							<li ng-repeat="item in tasksComplete"
								ng-style="{'border-left': item.color? '2px solid '+item.color:''}">
                                <label>
                                    <span class="task-description">{{item.title}}</span>
								    <span class="label label-{{item.color || 'primary'}}" ng-show="item.label">{{item.label}}</span>
                                </label>
								<div class="options todooptions">
								    <div class="btn-group" ng-show="!item.editing">
								        <button data-nodrag class="btn btn-default btn-xs" ng-click="incomplete(item, $index)"><i class="fa fa-fw fa-undo"></i></button>
								    </div>
								</div>
							</li>
						</ol>
					</div>
				</tab>
			</tabset>

		</div>
	</div>

</div> <!-- container -->
