        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#/">Dashboard</a></li>
                <li>UI Components</li>
                <li class="active">Nestable Lists</li>
            </ol>

            <h1>Nestable Lists</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            Export as <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
                </div>
            </div>
        </div>
        
        <div class="container-fluid" ng-controller="NestedTreeDemoController">

              <script type="text/ng-template" id="items_renderer.html">
                <div ui-tree-handle>
                  <a class="btn handletools expand" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-fw" ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}" ng-show="item.items.length"></span>
                  </a>
                  {{item.title}}
                  <a class="pull-right btn handletools delete" data-nodrag ng-click="remove(this)"><span class="fa fa-fw fa-times"></span></a>
                  <a class="pull-right btn handletools add" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-fw fa-plus"></span></a>
                </div>
                <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
                  </li>
                </ol>
                </div ui-tree-handle>
              </script>

            <panel heading="Nested Trees">

                <alert data-type="info">
                    <p>We use the fantastic Angular UI Tree module to create awesome, fully-draggable nested lists. Try it out!</p>
                </alert>

                <div class="row">
                    
                    <div class="col-lg-6">              
                      <div ui-tree="options">
                        <ol ui-tree-nodes ng-model="list" >
                          <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                        </ol>
                      </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <h3>Full tree</h3>
                        <pre class="code">{{ list | json }}</pre>
                    </div>

                </div>

            </panel>

        </div> <!-- container -->
