        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#/">Dashboard</a></li>
                <li>UI Components</li>
                <li class="active">Pagers and Paginations</li>
            </ol>

            <h1>Paginations</h1>
              <div class="options">
                  <div class="btn-toolbar">
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-default dropdown-toggle">
                              Export as <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                      </div>
                      <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
                  </div>
              </div>
        </div>

        <div class="container-fluid" ng-controller="PaginationAndPagingController">
          <tabset panel-tabs="true" panel-class="panel-info" heading="Pagination with Pager">
            <tab>
              <tab-heading><i class="fa fa-desktop"></i></tab-heading>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Pagination</h3>
                    <p>Pagination using Angular is a breeze! Check out the examples below.</p>

                    <pagination class="mb5" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                    <br>
                    <pagination class="mb5 pagination-sm" boundary-links="true" total-items="totalItems" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    <br>
                    <pagination class="mb5" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></pagination>
                    <br>
                    <pagination class="mb5" direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></pagination>
                    <br>

                    <pre>The selected page no: {{currentPage}}</pre>
                    <button class="btn btn-info" ng-click="currentPage = 3">Set current page to: 3</button>
                  </div>
                  <div class="col-sm-6">
                    <h3>Pager</h3>
                    <pager total-items="totalItems" ng-model="currentPage"></pager>
                  </div>
                </div>

                <hr>

                <h3>Limiting the maximum visible buttons</h3>
                <pagination class="mb5" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
                <br>
                <pagination class="mb5" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                <br>
                <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>

            </tab>
            <tab>
              <tab-heading><i class="fa fa-code"></i></tab-heading>
              <p>Source HTML for the demo:</p>
              <tabset tab-theme="info">
                <tab heading="HTML">
<pre class="prettyprint">
&lt;pagination total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; ng-change=&quot;pageChanged()&quot;&gt;&lt;/pagination&gt;
&lt;pagination boundary-links=&quot;true&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; class=&quot;pagination-sm&quot; previous-text=&quot;&amp;lsaquo;&quot; next-text=&quot;&amp;rsaquo;&quot; first-text=&quot;&amp;laquo;&quot; last-text=&quot;&amp;raquo;&quot;&gt;&lt;/pagination&gt;
&lt;pagination direction-links=&quot;false&quot; boundary-links=&quot;true&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot;&gt;&lt;/pagination&gt;
&lt;pagination direction-links=&quot;false&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; num-pages=&quot;smallnumPages&quot;&gt;&lt;/pagination&gt;

&lt;pre&gt;The selected page no: {{currentPage}}&lt;/pre&gt;
&lt;button class=&quot;btn btn-info&quot; ng-click=&quot;currentPage = 3&quot;&gt;Set current page to: 3&lt;/button&gt;

&lt;hr&gt;
&lt;h3&gt;Using a Pager&lt;/h3&gt;
&lt;pager total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot;&gt;&lt;/pager&gt;

&lt;h3&gt;Limiting the maximum visible buttons&lt;/h3&gt;
&lt;pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-links=&quot;true&quot;&gt;&lt;/pagination&gt;
&lt;pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-links=&quot;true&quot; rotate=&quot;false&quot; num-pages=&quot;numPages&quot;&gt;&lt;/pagination&gt;
&lt;pre&gt;Page: {{bigCurrentPage}} / {{numPages}}&lt;/pre&gt;
</pre>
                </tab>
                <tab heading="JavaScript">
<pre class="prettyprint">
// inside the controller
$scope.totalItems = 64;
$scope.currentPage = 4;

$scope.maxSize = 5;
$scope.bigTotalItems = 175;
$scope.bigCurrentPage = 1;
</pre>                  
                </tab>
              </tabset>
            </tab>
          </tabset>

        <div class="row">
            <div class="col-md-12">
                <panel heading="Date Paginator" panel-class="panel-midnightblue">

                  <p>A jQuery plugin which takes Twitter Bootstrap's already great pagination component and injects a bit of date based magic. In the process creating a hugely simplified and modularised way of paging date based results in your application.</p>
                  <p>To use Date Paginator, add an attribute <code>datepaginator</code> and set its value to be the configurations object.</p>

                  <div class="alert alert-info">
                    <p><span class="label label-primary">Note</span> Take a look at scripts/Paginations.js to check out how callbacks are handled.</p>
                  </div>

                  <h3>Default Date Paginator</h3>
                  <p>Default initialization, with no extra options set</p>
                  <div datepaginator=""></div>
                  <br />
                  <h3>With Event Handler (On Date Selected) <small>Try selecting a date</small></h3>
                  <p>Fired when the selected date changes. You can bind to it using either the callback handler or the standard jQuery .on method</p>
                  <div datepaginator="dpWithCallback"></div>
                  <br />
                  <h3>Large Date Paginator</h3>
                  <p>As easy as setting <code>{size: "large"}</code></p>
                  <div datepaginator="{size: 'large'}"></div>
                  <br />
                  <h3>Small Date Paginator</h3>
                  <p>Simply set <code>{size: "small"}</code></p>
                  <div datepaginator="{size: 'small'}"></div>
                </panel>
            </div>
        </div>

        </div> <!-- container -->
