<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>UI Elements</li>
		<li class="active">Panel</li>
	</ol>

	<h1>Panels</h1>
	<div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle">
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div ng-controller="PanelsController">
						<div class="row">
							<div class="col-sm-6">
								<panel panel-class="{{demoPanelClass}}" heading="{{demoPanelHeading}}">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
								</panel>
							</div>
							<div class="col-sm-6">
								<p>Simple panels are created using Forza's <code>panel</code> element. You can set the <code>panel-class</code> and <code>heading</code> values to make custom panels with minimal code!</p>
<pre class="prettyprint">
&lt;panel panel-class=&quot;{{demoPanelClass}}&quot; heading=&quot;{{demoPanelHeading}}&quot;&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
&lt;/panel&gt;
</pre>
								<p>Try out different variations yourself:</p>
								<div class="mb5">
									<button class="btn btn-primary" ng-click="demoPanelClass='panel-primary'">Primary</button>
									<button class="btn btn-success" ng-click="demoPanelClass='panel-success'">Success</button>
									<button class="btn btn-sky" ng-click="demoPanelClass='panel-sky'">Sky</button>
									<button class="btn btn-purple" ng-click="demoPanelClass='panel-purple'">Purple</button>
									<button class="btn btn-midnightblue" ng-click="demoPanelClass='panel-midnightblue'">Midnight Blue</button>
									<button class="btn btn-green" ng-click="demoPanelClass='panel-green'">Green</button>
									<button class="btn btn-orange" ng-click="demoPanelClass='panel-orange'">Orange</button>
									<button class="btn btn-danger" ng-click="demoPanelClass='panel-danger'">Danger</button>
								</div>
								<p>And many more!</p>
								<input class="form-control mb5" type="text" placeholder="Panel Heading" ng-model="demoPanelHeading"/>
								<p>Edit panel heading on the fly here.</p>
							</div>
						</div>
<hr>
<!-- 						<div class="row">
							<div class="col-sm-6">
								<panel panel-class="panel-orange" heading="Panel Icons" panel-icon="{{demoPanelIcon}}">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
								</panel>
							</div>
							<div class="col-sm-6">
								<p>Panels can also have dynamic icons. Just click the button below and see it in action:</p>
								<p><button class="btn btn-primary" ng-click="demoDynamicIcons()">Change Icon</button></p>
<pre class="prettyprint">
&lt;panel panel-class=&quot;&#039;panel-orange&#039;&quot; heading=&quot;&#039;Panel Icons&#039;&quot; panel-icon=&quot;{{demoPanelIcon}}&quot;&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
&lt;/panel&gt;
</pre>
							</div>
						</div>
 <hr> -->
						<div class="row">
							<div class="col-sm-6">
								<tabset panel-tabs="true" panel-class="{{demoTabbedPanelClass}}" heading="{{demoTabbedPanelHeading}}">
									<tab heading="Tab 1">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
									</tab>
									<tab heading="Tab 2">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
									</tab>
								</tabset>
							</div>
							<div class="col-sm-6">
								<p>Panels can also be tabbed. For this you'll need to use the <code>tabset</code> element and set <code>panel-tabs="true"</code>. The other options are same as above.</p>
<pre class="prettyprint">
&lt;tabset panel-tabs=&quot;true&quot; panel-class=&quot;{{demoTabbedPanelClass}}&quot; heading=&quot;{{demoTabbedPanelHeading}}&quot;&gt;
	&lt;tab heading=&quot;Tab 1&quot;&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
	&lt;/tab&gt;
	&lt;tab heading=&quot;Tab 2&quot;&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
	&lt;/tab&gt;
&lt;/tabset&gt;
</pre>
								<p>Try out different variations yourself:</p>
								<button class="btn btn-primary" ng-click="demoTabbedPanelClass='panel-primary'">Primary</button>
								<button class="btn btn-success" ng-click="demoTabbedPanelClass='panel-success'">Success</button>
								<button class="btn btn-sky" ng-click="demoTabbedPanelClass='panel-sky'">Sky</button>
								<button class="btn btn-purple" ng-click="demoTabbedPanelClass='panel-purple'">Purple</button>
								<button class="btn btn-midnightblue" ng-click="demoTabbedPanelClass='panel-midnightblue'">Midnight Blue</button>
								<button class="btn btn-green" ng-click="demoTabbedPanelClass='panel-green'">Green</button>
								<button class="btn btn-orange" ng-click="demoTabbedPanelClass='panel-orange'">Orange</button>
								<button class="btn btn-danger" ng-click="demoTabbedPanelClass='panel-danger'">Danger</button>
								<p>
									<br>
									<input class="form-control" type="text" placeholder="Tabbed Panel Heading" ng-model="demoTabbedPanelHeading" />
								</p>
							</div>
						</div>
<hr>

						<div class="row">
							<div class="col-sm-6">
								<tabset panel-tabs="true" panel-class="panel-midnightblue">
									<tab heading="Tab 1">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
									</tab>
									<tab heading="Tab 2">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
									</tab>
								</tabset>
							</div>
							<div class="col-sm-6">
								<p>Removing the <code>heading</code> attribute moves the tabs to the left since the panel has no title. The rest is exactly the same!</p>
<pre class="prettyprint">
&lt;tabset panel-tabs=&quot;true&quot; panel-class=&quot;panel-midnightblue&quot;&gt;
	&lt;tab heading=&quot;Tab 1&quot;&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
	&lt;/tab&gt;
	&lt;tab heading=&quot;Tab 2&quot;&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
	&lt;/tab&gt;
&lt;/tabset&gt;
</pre>
							</div>
						</div>
<hr>
						<div class="row">
							<div class="col-sm-6">
								<panel panel-class="{{demoPanelClass}}" heading="{{demoPanelHeading}}">
									<panel-controls>
								        <a href="javascript:;"><i class="fa fa-cog"></i></a>
								        <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
								        <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
									</panel-controls>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
								</panel>
							</div>
							<div class="col-sm-6">
								<p>Panels can optionally have controls through the <code>panel-controls</code> directive to provide extra options. In this example, the <code>panel-control-collapse</code> (<i class="fa fa-chevron-down"></i>) control causes the panel to collapse and expand. You can create your own directives that augment panel behavior. Check it out!</p>
<pre class="prettyprint">
&lt;panel panel-class=&quot;{{demoPanelClass}}&quot; heading=&quot;{{demoPanelHeading}}&quot;&gt;
	&lt;panel-controls&gt;
        &lt;a href=&quot;javascript:;&quot;&gt;&lt;i class=&quot;fa fa-cog&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;a href=&quot;javascript:;&quot;&gt;&lt;i class=&quot;fa fa-wrench&quot;&gt;&lt;/i&gt;&lt;/a&gt; 
        &lt;a href=&quot;&quot;&gt;&lt;panel-control-collapse class=&quot;fa fa-chevron-down&quot;&gt;&lt;/panel-control-collapse&gt;&lt;/a&gt;
	&lt;/panel-controls&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
&lt;/panel&gt;
</pre>
							</div>
						</div>

<hr>

						<div class="row">
							<div class="col-sm-6">
								<panel panel-class="panel-midnightblue" heading="Panel with icon" panel-icon="{{demoPanelIcon}}">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
								</panel>
							</div>
							<div class="col-sm-6">
								<p>And finally, add an icon to your panel with <code>panel-icon</code> attribute</p>

								<p>Try different icons:</p>
								<p>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-cog fa-spin'"><i class="fa fa-fw fa-cog fa-spin"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-calendar'"><i class="fa fa-fw fa-calendar"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-lock'"><i class="fa fa-fw fa-lock"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-thumbs-up'"><i class="fa fa-fw fa-thumbs-up"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-music'"><i class="fa fa-fw fa-music"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-globe'"><i class="fa fa-fw fa-globe"></i></button>
									<button class="btn btn-midnightblue" ng-click="demoPanelIcon='fa fa-fw fa-group'"><i class="fa fa-fw fa-group"></i></button>
								</p>
								<p>Over 400 icons are availbale with the integrated <a href="#/icons-fontawesome">Font Awesome package</a></p>


<pre class="prettyprint">
&lt;panel panel-class=&quot;panel-midnightblue&quot; heading=&quot;demoPanelHeading&quot; panel-icon=&quot;{{demoPanelIcon}}&quot;&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.&lt;/p&gt;
&lt;/panel&gt;
</pre>
							</div>
						</div>

					</tab>

			</div>
		</div>
	</div>
</div> <!-- container -->
