		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href="#/">Dashboard</a></li>
				<li>UI Components</li>
				<li class="active">Tabs &amp; Accordions</li>
			</ol>

			<h1>Tabs &amp; Accordions</h1>
				<div class="options">
	            <div class="btn-toolbar">
	                <div class="btn-group" dropdown>
	                    <button type="button" class="btn btn-default dropdown-toggle">
	                        Export as <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu" role="menu">
	                      <li><a href="#">Action</a></li>
	                      <li><a href="#">Another action</a></li>
	                      <li><a href="#">Something else here</a></li>
	                      <li class="divider"></li>
	                      <li><a href="#">Separated link</a></li>
	                    </ul>
	                </div>
	                <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
	            </div>
	        </div>
		</div>
		<div class="container-fluid" ng-controller="TabsAndAccordionsDemoController">

			<div class="row">
				<div class="col-md-12">

				<tabset panel-tabs="true" heading="Inline Tabs" panel-class="panel-primary">
					<tab>
						<tab-heading>
							<i class="fa fa-desktop"></i>
						</tab-heading>
						<div class="row">
							<div class="col-md-6">
								<tabset tab-theme="danger" tab-position="left">
									<tab heading="Home">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
									<tab>
										<tab-heading class="dropdown">
											Another tab
										</tab-heading>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
 									<li class="tab-controls dropdown">
										<a class="dropdown-toggle">Dropdown <span class="caret"></span></a>
										<ul class="dropdown-menu pull-left">
											<li><a href="#">Something</a></li>
											<li><a href="#">Something Else</a></li>
											<li class="divider"></li>
											<li><a href="#">And one more thing</a></li>
										</ul>
									</li>
								</tabset>
								<tabset tab-theme="midnightblue">
									<tab heading="Home">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
									<tab>
										<tab-heading class="dropdown">
											Another tab
										</tab-heading>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
									<li class="tab-controls dropdown">
										<a class="dropdown-toggle">Dropdown <span class="caret"></span></a>
										<ul class="dropdown-menu pull-left">
											<li><a href="#">Something</a></li>
											<li><a href="#">Something Else</a></li>
											<li class="divider"></li>
											<li><a href="#">And one more thing</a></li>
										</ul>
									</li>
								</tabset>
							</div>
							<div class="col-md-6">
								<tabset tab-theme="orange" tab-position="bottom">
									<tab heading="Home">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
									<tab>
										<tab-heading class="dropdown">
											Another tab
										</tab-heading>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
								</tabset>
								<tabset tab-theme="success" tab-position="right">
									<tab heading="Home">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
									<tab>
										<tab-heading class="dropdown">
											Another tab
										</tab-heading>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>



					<tab>
						<tab-heading>
							<i class="fa fa-code"></i>
						</tab-heading>
						<p>Inline tabs are just like Angular UI tabs but with some important enhancements.</p>
<pre class="prettyprint linenums">
&lt;tabset tab-theme=&quot;orange&quot; tab-position=&quot;left&quot;&gt;
	&lt;tab heading=&quot;Home&quot;&gt;
Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.&lt;br&gt;&lt;br&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.
	&lt;/tab&gt;
	&lt;tab heading=&quot;Other&quot;&gt;
Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;br&gt;&lt;br&gt;Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
	&lt;/tab&gt;
&lt;/tabset&gt;
</pre>
<p>This will produce:</p>
<tabset tab-theme="orange" tab-position="left">
	<tab heading="Home">
Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</tab>
	<tab heading="Other">
Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><br>Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
	</tab>
</tabset>

						<p>Tab positions can be changed by altering the value of the <code>tab-position</code> attribute. They can be one of <code>top</code>, <code>right</code>, <code>bottom</code> or <code>left</code>.</p>
						<p>Tab themes can be one of <code>success</code>, <code>alart</code>, <code>magenta</code> and many more!</p>
					</tab>
				</tabset>

			</div>
		</div>

<panel panel-class="" data-heading="Accordion">

		<div class="row" style="margin-bottom:20px">
			<div class="col-sm-6">
				<div class="checkbox">
					<label>
						<input icheck type="checkbox" ng-model="oneAtATime" > Open only one at a time
					</label>
				</div>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary btn-sm btn-block" ng-click="status.open = !status.open">Toggle last panel</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary btn-sm btn-block" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
			</div>
		</div>

		<accordion close-others="oneAtATime" class="panel-danger">
		    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		      This content is straight in the template.
		    </accordion-group>
		    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
		      {{group.content}}
		    </accordion-group>
		    <accordion-group heading="Dynamic Body Content">
		    	<p>The body of the accordion group grows to fit the contents</p>
		    	<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
		        <div ng-repeat="item in items">{{item}}</div>
		    </accordion-group>
		    <accordion-group is-open="status.open">
		        <accordion-heading>
		            I can have markup, too! <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-left': !status.open}"></i>
		        </accordion-heading>
		        This is just some content to illustrate fancy headings.
		    </accordion-group>
		</accordion>

							
</panel>

		</div> <!-- container -->
