<div class="well">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="img-container-lg">
                <img  class="scale-img" no-image ng-src="{{ mainEvent.logo }}"/>
            </div>
            <p ng-if="mainEvent.country">{{mainEvent.country}}</p>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h3 >{{mainEvent.label}}</span></h3>
            <pre>{{mainEvent.description}}</pre>
            <a class="btn btn-info" href="#mainEvents/edit/{{mainEvent.id}}" role="button">
                <i class="fa fa-edit fa-1x"></i> Edit my conference
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class=" col-md-6 col-lg-6">
        <h1>From : {{mainEvent.startAt}}</h1>
        <h1>To : {{mainEvent.endAt}}</h1>
    </div>
    <div class=" col-md-6 col-lg-6">
        <leaflet  center="center" markers="markers" height="300px" width="100%"></leaflet>

    </div>
</div>


<div class="row">
    <div class=" col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h1>{{mainEvent.events.length}} Events </h1>
            </div>
        </div>
        <div ng-repeat="event in mainEvent.events | limitTo: 5  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">
            <i class="fa fa-calendar fa-3x"></i>
            <h2>{{ event.label }}</h2>
            <a class="btn btn-default" href="#conference/{{mainEvent.id}}/events/show/{{ event.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
    <div class=" col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h1>{{mainEvent.papers.length}} Papers </h1>
            </div>
        </div>
        <div ng-repeat="paper in mainEvent.papers | limitTo: 5  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">
            <i class="fa fa-book fa-3x"></i>
            <h2>{{ paper.label }}</h2>
            <a class="btn btn-default" href="#conference/{{mainEvent.id}}/papers/show/{{paper.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
</div>


