<div>
    <label for="inputLabel">{{ 'roleLabelVersions.model.label' | translate}}</label>
    <input type="text" class="form-control" id="inputLabel" required placeholder="{{ 'roleLabelVersions.model.label' | translate}}" ng-model="roleLabel.label">
</div>
<div>
    <label for="inputDescription">{{ 'roleLabelVersions.model.description' | translate}}</label>
    <textarea elastic class="form-control" id="inputDescription" placeholder="{{ 'roleLabelVersions.model.description' | translate}}" ng-model="roleLabel.description"/>
</div>
