<div id="page-heading">

  <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>

  <h1>{{'teammates.links.team' | translate }}</h1>

  <div class="options">
    <div class="btn-toolbar">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle">
          Export as <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
      <a href="#/teammates/new" class="btn btn-default"><i class="fa fa-plus"></i> {{ 'teammates.actions.add' | translate}}
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="panel">
        <div class="panel-heading">
          <h4>{{'teammates.actions.index.subtitle' | translate }}</h4>
        </div>
        <div class="panel-body">
          <div class="search-classic" entity-list-handler="teammates" data-order-by="person">
            <form action="#">
              <div class="input-group well w100">
                <input type="text" placeholder="{{'teammates.actions.search' | translate }}" class="form-control" ng-change="sendQuery(query)" ng-model="query"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i> {{'global.actions.search' | translate }}
                  </button>
                </span>
              </div>
            </form>

            <h3 ng-show="query">{{'global.labels.search.displaying' | translate }} '{{ query }}'</h3>
            <hr>
            <h3 ng-show="entities.length == 0">{{'global.labels.search.no_result' | translate }}</h3>

            <div class="search-result" ng-repeat-start="teammate in entities  track by $index">
              <div ng-include="GLOBAL_CONFIG.app.modules.teammates.urls.partials+'teammate-entity-row-lg.html'"></div>
              <button class="btn btn-danger" data-ng-click="deleteTeammateModal($index, teammate)" role="button">
                <i class="fa fa-trash-o fa-1x"></i>
              </button>
            </div>
            <hr ng-repeat-end="">
            <!-- @TODO : PAGINATION ? OR SCROLL-INFINITE ? -->
            <ol class="pagination text-center pull-right">
              <li class="prev disabled"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
            </ol>
          </div>
        </div>
      </div>

    </div>
    <!-- col-md-12 -->
  </div>
  <!-- row -->
</div> <!-- container -->
</div>
