<div>
    <label for="inputName">Organization name</label>
    <input type="text" class="form-control" id="label" required placeholder="{{organization.label}}" ng-model="organization.label">
</div>
<div>
    <label for="inputHomepage">Website</label>
    <input type="text" class="form-control" id="inputWebsite" placeholder="{{organization.website}}" ng-model="organization.website">
</div>
<div class="form-group">
    <label for="inputCountry">Country</label>
    <input type="text" class="form-control" id="inputCountry" placeholder="{{organization.country}}" ng-model="organization.country">
</div>
<div class="form-group">
    <label for="inputImg">Image</label>
    <input type="text" class="form-control" id="inputCountry" placeholder="{{organization.img}}" ng-model="organization.img">
</div>
<div>
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" placeholder="{{organization.description}}" ng-model="organization.description"/>
</div>

<!--Owning side of person - organization is person, impossible to add a person to an organization form organization-->
<!--<div get-or-create="person" parent-entity="organization" parent-field="member" uniq-field="email" new-politic="modal"></div>-->
<!--<div get-or-create="sponsor" parent-entity="organization" parent-field="sponsor" uniq-field="email" new-politic="modal"></div>-->
