<div class="verticalcenter">
    <div class="modal-header">
        <a href="#/"><img ng-src="{{GLOBAL_CONFIG.app.urls.img}}logo.png" alt="Logo" class="brand"/></a>
    </div>

    <div class="modal-body">
        <h4 class="text-center" style="margin-bottom: 25px;">{{ 'authentication.labels.agreement' | translate }}</h4>

        <p>Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah </p>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <a href="" class="btn btn-warning" ng-click="$dismiss('cancel')">{{ 'global.actions.ok' | translate }}</a>
        </div>
    </div>
</div>