<div class="row">
  <h4 class="col-lg-8 col-md-12"><a href="#">{{ teammate.label }}</a></h4>

  <h4 class="col-lg-4 col-md-12 text-right-lg">
    <span ng-repeat="topic in teammate.topics" class="labels label-primary">{{ topic }}</span>
  </h4>
</div>
<div class="row" ng-if="teammate.publisher || teammate.publishDate || teammate.authors">
  <!-- @TODO : TRANSLATE DATE -->
  <h5 class="col-lg-8 col-md-12" ng-if="teammate.authors">
    {{ (teammate.authors.length > 1) ? 'teammates.labels.authors' : 'teammates.labels.author' | translate }}
    <em ng-repeat="author in teammate.authors">{{ author }}{{$last ? '' : ', '}}</em>
  </h5>
  <h6 class="{{ teammate.authors ? 'col-lg-4 col-md-12 ' : '' }}text-right-lg" ng-if="teammate.publisher || teammate.publishDate">
    <em ng-if="teammate.publisher">{{'teammates.labels.publishedBy' | translate }} {{ teammate.publisher }} </em>
    <em ng-if="teammate.publisher && teammate.publishDate">{{ 'global.labels.on' | translate }} </em>
    <em ng-if="teammate.publishDate">{{ teammate.publishDate | date:'medium' }}</em>
  </h6>
</div>
<div>
  <a href="{{ teammate.url }}" target="_blank" ng-if="teammate.url">{{ teammate.url }}</a>

  <p ng-if="teammate.abstract">{{ teammate.abstract }}</p>

  <p ng-if="!teammate.abstract">
    <small><em>{{ 'teammates.messages.no_abstract' | translate }}</em></small>
  </p>
</div>