<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-clock-o fa-5x"></i>
        <h2>1. Calendar</h2>
        <p>To help you managing everything, the calendar view propose many vizualization which will allow you to make the most of your time</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-map-marker fa-5x"></i>
        <h2>2. Locations</h2>
        <p>You might have many rooms and places where you event can take place. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-tag fa-5x"></i>
        <h2>2. Categories</h2>
        <p>To keep tracking your events, you can use a category system. A category system can contain workshop event, talk, keynote or whatever you whant to use</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div><!-- /.row -->