<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-user fa-5x"></i>
        <h2>1. Persons</h2>
        <p>All the persons involved in your event from administrators to attendees are manageable from this interface</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-users fa-5x"></i>
        <h2>2. Organizations</h2>
        <p>All the organizations involved in your event from administrators to attendees are manageable from this interface</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div><!-- /.row -->