<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-mobile fa-5x"></i>
        <h2>1. Mobile App'</h2>
        <p>Mobile app</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-ticket fa-5x"></i>
        <h2>2. Ticket page</h2>
        <p>Ticket page</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-calendar fa-5x"></i>
        <h2>2. Embedded calendar</h2>
        <p>Embedded calendar</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-desktop fa-5x"></i>
        <h2>2. live wall</h2>
        <p>live wall</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div><!-- /.row -->