<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-book fa-5x"></i>
        <h2>1. Publications</h2>
        <p>In scientific context you can manage publication resources to enrich your conference data</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-slideshare fa-5x"></i>
        <h2>2. Slides</h2>
        <p>All your speakers might use slides to enrich their talks</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div><!-- /.row -->