
<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-cogs fa-5x"></i>

        <h2>1. Settings</h2>

        <p>In order to define your conference, you need first to declare it's ID card, when, who, where.
            The very second step will be to define the appearance of you conference, this will be the visual
        identity of your event</p>

        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-lg-3">
        <i class="fa fa-paint-brush fa-5x"></i>
        <h2>2. Appearance</h2>
        <p>To prepare your visual communication, you need to define what colors represents your event</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div><!-- /.row -->