<div class="row">
    <div class="col-lg-3">
        <i class="fa fa-calendar-o fa-5x"></i>
        <h2>My events</h2>
        <p>Control panel displaying all event your are organizaing, attending or speaking at.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa fa-bookmark fa-5x"></i>
        <h2>Bookmarks</h2>
        <p>Whenever you are interested in a specific resource, you can bookmark it and come back later trougth the bookmar menu</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa-ticket fa-5x"></i>
        <h2>My ticket</h2>
        <p>All your ticket are available directly on the panel. You will have the chance to validate, pay or just print any of your tickets</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <i class="fa fa-thumbs-o-up fa-5x"></i>
        <h2>My recommandations</h2>
        <p>Any of your friend can recommand you an event next to your place</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->

</div><!-- /.row -->