<!doctype html>
<html lang="en" ng-app="sympozerApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Sympozer</title>

  {% if dev_mode_activated %}
    {% include '@Frontend/Front/dev_depedencies.html.twig' %}
  {% else %}
    {% include '@Frontend/Front/prod_depedencies.html.twig' %}
  {% endif %}

</head>

<!-- Main View -->
<body ng-controller="mainCtrl">

<div class="navTop" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-top.html'"
     ng-controller="navTopCtrl">
</div>

<div id="alertBox" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/alert-box.html'"
     ng-controller="alertCtrl"></div>

<div id="wrapper">

  <div class="navLeft" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-left.html'"
       ng-controller="navLeftCtrl"></div>

  <!-- Page content -->
  <div id="page-content-wrapper">

    <div class="page-content inset view-container">

      <div class="row view-frame" ng-class="view-frame" data-ng-view="">
      </div>

    </div>
    <div id="scrollTopBtn">
      <button class="btn btn-default" ng-click="scrollTop()" role="button"><i class="fa  fa-arrows-v fa-3x"></i>
      </button>
    </div>
  </div>

</div>
<div ng-controller="contextCtrl"></div>


</body>

</html>
