<div class="form-group">
    <label class="col-sm-3 control-label" for="inputImg">{{ 'persons.model.img' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputImg" placeholder="http://..." ng-model="person.img">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputFirstname">{{ 'persons.model.firstname' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputFirstname" placeholder="{{ 'persons.model.firstname' | translate}}" ng-model="person.firstName" required>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputFamilyname">{{ 'persons.model.familyname' | translate}}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputFamilyname" placeholder="{{ 'persons.model.familyname' | translate}}" ng-model="person.familyName" required>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputEmail">{{ 'persons.model.email' | translate}}</label>
    <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail" name="mail" placeholder="{{ 'persons.model.email' | translate}}" ng-model="person.email" required ng-pattern=/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="inputDesc">{{ 'persons.model.description' | translate}}</label>
    <div class="col-sm-6">
        <textarea class="form-control"  id="inputDesc" name="description" placeholder="{{ 'persons.model.description' | translate}}" ng-model="person.description"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label"for="inputCountry">{{ 'persons.model.localization' | translate}}</label>
    <div class="col-sm-6">
        <input google-place-autocomplete="" type="text" class="form-control"  on-select="selectAddress" ng-model="person.localization.label" /></td>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="inputWebsite">{{ 'persons.model.website' | translate}}</label>
    <div class="col-sm-6">
        <input type="url" class="form-control" id="inputWebsite" placeholder="http://..." ng-model="person.website">
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label" for="inputOrganization">{{ 'organizations.links.organizations' | translate}}</label>
    <div class="col-sm-6">
        <div sympozer-autocomplete="organizations" on-select="addOrganization" on-keyup="searchOrganizations"></div>
        <div ng-repeat="organization in person.organizations  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">
            <i class="fa fa-users fa-3x"></i>
            <h2>{{ organization.label }}</h2>
            <a class="btn btn-default" href="#organizations/show/{{ organization.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
        </div>
    </div>
</div>



<!--<div class="row">-->

<!--<div class=" col-md-6 col-lg-6">-->
<!--<div class="row">-->
<!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
<!--<h1>{{ 'organizations.links.organizations' | translate}}</h1>-->
<!--</div>-->
<!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
<!--<a class="btn btn-primary btn-inline" href="javascript:void(0)" ng-click="showAddOrg = !showAddOrg"><i class="fa fa-plus"></i></a>-->
<!--</div>-->
<!--<div sympozer-autocomplete="organizations" ng-show="showAddOrg" on-select="addOrganization" on-keyup="searchOrganizations"></div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-md-6 col-lg-6">-->
<!--<div class="row">-->
<!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
<!--<h1>{{ 'papers.links.papers' | translate}}</h1>-->
<!--</div>-->
<!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
<!--<a class="btn btn-primary btn-inline" href="javascript:void(0)" ng-click="showAddPub = !showAddPub"><i class="fa fa-plus"></i></a>-->
<!--</div>-->

<!--</div>-->
<!--<div sympozer-autocomplete="papers" ng-show="showAddPub" on-select="addPaper" on-keyup="searchPapers"></div>-->
<!--<div ng-repeat="paper in person.papers  track by $index" class="col-sm-6 col-md-6 col-lg-4  well">-->
<!--<i class="fa fa-book fa-3x"></i>-->
<!--<h2>{{ paper.label }}</h2>-->
<!--<a class="btn btn-default" href="#papers/show/{{ paper.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
