<tile type="midnightblue">
    <tile-heading>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <span class="ellipsis">{{ person.label }}</span>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a ng-if="!edit" class="btn btn-default btn-xs" href="#/home/persons/show/{{ person.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
                <button ng-if="edit" class="btn btn-danger btn-xs" ng-click="removeRelationship('authors', $index)">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        </button>
    </tile-heading>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <img class="img-responsive" no-image ng-src="{{person.img}}">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <p class="ellipsis">{{ person.description}}</p>
        </div>
    </div>
</tile>


<h4></h4>