<div id="page-heading">

    <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>

    <h1>{{'authentication.labels.profile' | translate }}</h1>

    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-info" href="#/home/persons/edit/{{person.id}}" role="button">
                <i class="fa fa-edit fa-1x"></i> {{ 'persons.actions.edit_profile' | translate}}
            </a>

        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <panel panel-class="panel panel-gray" heading="{{person.firstName || '???'}} {{person.familyName || '???'}}">
                        <div class="row">
                            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                                <img no-image ng-src="{{ person.img }}" alt="" class="pull-left img-responsive img-circle" style="margin: 0 20px 20px 0">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                                <h3>{{'persons.labels.about' | translate }}</h3>

                                <p>{{person.description || '????'}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>{{'persons.model.city' | translate }}</td>
                                            <td><span>{{person.localization.city}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>{{'persons.model.country' | translate }}</td>
                                            <td><span>{{person.localization.country}}</span></td>
                                        </tr>

                                        <tr>
                                            <td>{{'persons.model.website' | translate }}</td>
                                            <td><a href="{{person.website}}">{{person.website || ''}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>{{'persons.model.email' | translate }}</td>
                                            <td><a href="mailTo:{{person.email}}">{{person.email || ''}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{ 'persons.model.positions' | translate}}</span>
                                            </td>
                                            <td>
                                                <span ng-repeat="position in person.positions track by $index">
                                                    {{position.position}} {{'global.labels.at' | translate }} {{position.organization.label}} </br>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{'persons.labels.social' | translate }}</td>
                                            <td>
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>-->
                                                <a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i>{{person.facebook || ''}}</a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i>{{person.twitter}}</a>
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>-->
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>-->
                                                <a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i>{{person.linkedIn || ''}}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </panel>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">

                            <panel panel-class="panel panel-gray" heading="{{person.roles.length}} {{'events.links.events' | translate }}">
                                <panel-controls>
                                    <a href="">
                                        <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                                    </a>
                                </panel-controls>
                                <div class="row">

                                    <div class="well col-md-4  col-lg-4" ng-repeat="role in person.roles  track by $index" class="col-sm-6 col-md-6 col-lg-4" ng-if="person.roles">
                                        <i class="fa fa-calendar fa-2x"></i>
                                        <h4>{{ role.roleLabel.label }} @ {{ role.event.label}} </h4>
                                        <a class="btn  btn-default" href="#mainEvents/show/{{ role.mainEvent.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
                                    </div>
                                </div>

                            </panel>
                        </div>
                        <div class="col-md-6">
                            <panel panel-class="panel panel-gray" heading="{{person.papers.length}} {{'papers.links.papers' | translate }}">
                                <panel-controls>
                                    <a href="">
                                        <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                                    </a>
                                </panel-controls>
                                <div class="row">
                                    <div ng-repeat="paper in person.papers track by $index"  ng-show="person.papers" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <tile type="midnightblue">
                                            <tile-heading>
                                                <div class="row">
                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                        <span class="ellipsis">{{ paper.label }}</span>

                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <a class="btn btn-default btn-xs" href="#/home/conference/{{ paper.mainEvent.id }}/papers/show/{{ paper.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
                                                    </div>
                                                </div>
                                                </button>
                                            </tile-heading>
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <i class="fa fa-book fa-4x"></i>
                                                </div>

                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                    <p class="ellipsis">{{ paper.abstract }}</p>
                                                </div>
                                            </div>
                                        </tile>
                                    </div>

                                </div>
                            </panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
